.box-4 {
	padding: 80px 20px;
	text-align: center;
	background: white;
	.caption {
		border-bottom: 1px solid $brand-primary;
		border-top: 1px solid $brand-primary;
		padding: 40px 0px;
		max-width: 550px;
		@include center;
		small {
			font-family: $font-italic;
			display: block;
			margin: 0 0 20px 0;
		}
		h2 {
			line-height: 1.5em;
			letter-spacing: 3px;
			font-size: 18px;
		}
	}
}

// 500px
@media all and (min-width: 500px) {
	.box-4 {
		.caption {
			h2 {
				font-size: 22px;
			}
		}
	}
}

// 768px
@media all and (min-width: $screen-portrait) {
}

// 992px
@media all and (min-width: $screen-landscape) {
}

// 1200px
@media all and (min-width: $screen-desktop) {
	.box-4 {
		padding: 150px 0px;
		.caption {
			max-width: 880px;
		}
	}
}