.may-2017-landing div, .may-2017-landing span, .may-2017-landing applet, .may-2017-landing object, .may-2017-landing iframe, .may-2017-landing h1, .may-2017-landing h2, .may-2017-landing h3, .may-2017-landing h4, .may-2017-landing h5, .may-2017-landing h6, .may-2017-landing p, .may-2017-landing blockquote, .may-2017-landing pre, .may-2017-landing a, .may-2017-landing abbr, .may-2017-landing acronym, .may-2017-landing address, .may-2017-landing big, .may-2017-landing cite, .may-2017-landing code, .may-2017-landing del, .may-2017-landing dfn, .may-2017-landing em, .may-2017-landing img, .may-2017-landing ins, .may-2017-landing kbd, .may-2017-landing q, .may-2017-landing s, .may-2017-landing samp, .may-2017-landing small, .may-2017-landing strike, .may-2017-landing strong, .may-2017-landing sub, .may-2017-landing sup, .may-2017-landing tt, .may-2017-landing var, .may-2017-landing b, .may-2017-landing u, .may-2017-landing i, .may-2017-landing center, .may-2017-landing dl, .may-2017-landing dt, .may-2017-landing dd, .may-2017-landing ol, .may-2017-landing ul, .may-2017-landing li, .may-2017-landing fieldset, .may-2017-landing form, .may-2017-landing label, .may-2017-landing legend, .may-2017-landing table, .may-2017-landing caption, .may-2017-landing tbody, .may-2017-landing tfoot, .may-2017-landing thead, .may-2017-landing tr, .may-2017-landing th, .may-2017-landing td, .may-2017-landing article, .may-2017-landing aside, .may-2017-landing canvas, .may-2017-landing details, .may-2017-landing embed, .may-2017-landing figure, .may-2017-landing figcaption, .may-2017-landing footer, .may-2017-landing header, .may-2017-landing hgroup, .may-2017-landing menu, .may-2017-landing nav, .may-2017-landing output, .may-2017-landing ruby, .may-2017-landing section, .may-2017-landing summary, .may-2017-landing time, .may-2017-landing mark, .may-2017-landing audio, .may-2017-landing video {
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
.may-2017-landing article, .may-2017-landing aside, .may-2017-landing details, .may-2017-landing figcaption, .may-2017-landing figure, .may-2017-landing footer, .may-2017-landing header, .may-2017-landing hgroup, .may-2017-landing menu, .may-2017-landing nav, .may-2017-landing section {
  display: block; }

.may-2017-landing ol, .may-2017-landing ul {
  list-style: none; }

.may-2017-landing blockquote, .may-2017-landing q {
  quotes: none; }

.may-2017-landing blockquote:before, .may-2017-landing blockquote:after {
  content: '';
  content: none; }

.may-2017-landing q:before, .may-2017-landing q:after {
  content: '';
  content: none; }

.may-2017-landing table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #f4f2f5;
  padding: 0;
  margin: 0; }

a, a:hover, a:active, a:focus {
  text-decoration: none;
  -webkit-transition: all 230ms ease-in-out;
  -moz-transition: all 230ms ease-in-out;
  -ms-transition: all 230ms ease-in-out;
  -o-transition: all 230ms ease-in-out;
  transition: all 230ms ease-in-out; }

.may-2017-landing {
  font-family: "NewCenturySchlbkLTStdRoman", Georgia, serif;
  color: #000; }

.hidden-mobile {
  display: none; }

.container {
  background: #fff; }

@media all and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 750px; }
  .hidden-mobile {
    display: block; }
  .hidden-desktop {
    display: none; } }

@media all and (min-width: 992px) {
  .container {
    max-width: 970px; } }

@media all and (min-width: 1300px) {
  .container {
    max-width: 1280px; } }

.btn {
  background: #866894;
  color: white;
  display: inline-block;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 16px 31px 10px 35px;
  font-family: "ITCFranklinGothicStdDmCp", Arial, sans-serif; }
  .btn:hover {
    background: #7b6088; }
  .btn:after {
    content: "\f0da";
    font: normal normal normal 20px/1 FontAwesome;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    position: relative;
    top: -1px; }

.may-2017-landing h1, .may-2017-landing h2, .may-2017-landing h3, .may-2017-landing h4, .may-2017-landing h5, .may-2017-landing h6, .may-2017-landing p, .may-2017-landing span, .may-2017-landing a, .may-2017-landing ul, .may-2017-landing li {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.may-2017-landing h1,
.may-2017-landing h2,
.may-2017-landing h3,
.may-2017-landing h4,
.may-2017-landing h5,
.may-2017-landing h6 {
  margin: 0;
  padding: 0;
  font-family: "NewCenturySchlbkLTStdRoman", Georgia, serif;
  font-weight: normal; }

.may-2017-landing h2 {
  font-size: 30px; }

.may-2017-landing h3 {
  font-size: 20px; }

.image-responsive {
  width: 100%;
  height: auto;
  line-height: 0; }

.may-2017-landing .header {
  background: white; }

.may-2017-landing .box-legend {
  background: #4b3041;
  padding: 20px 10px;
  text-align: center;
  color: white;
  line-height: 1.4em;
  font-family: "NewCenturySchlbkLTStdRoman", Georgia, serif;
  font-size: 10px;
  text-transform: uppercase; }
  .may-2017-landing .box-legend p {
    margin: 0; }
  .may-2017-landing .box-legend a {
    text-decoration: underline;
    color: white;
    font-weight: bold; }

.may-2017-landing .table-header {
  display: table;
  width: 100%;
  padding: 23px 0 15px 0; }
  .may-2017-landing .table-header .col {
    display: table-cell;
    vertical-align: top;
    text-align: center; }

.may-2017-landing .col-menu {
  width: 11%;
  text-align: right !important; }

.may-2017-landing .col-locate {
  width: 9%;
  text-align: right !important; }

.may-2017-landing .col-brand {
  width: 60%; }

.may-2017-landing .col-search {
  width: 9%;
  text-align: left !important; }

.may-2017-landing .col-bag {
  width: 11%;
  text-align: left !important; }

.may-2017-landing .col-menu img, .may-2017-landing .col-locate img, .may-2017-landing .col-brand img, .may-2017-landing .col-search img, .may-2017-landing .col-bag img {
  max-width: 28px;
  height: auto; }
  .may-2017-landing .col-menu img:hover, .may-2017-landing .col-locate img:hover, .may-2017-landing .col-brand img:hover, .may-2017-landing .col-search img:hover, .may-2017-landing .col-bag img:hover {
    opacity: 0.8; }

.may-2017-landing .col-locate img {
  max-width: 16px; }

.may-2017-landing .col-brand img {
  max-width: 190px; }

.may-2017-landing .col-search img {
  max-width: 24px; }

.may-2017-landing .col-bag img {
  max-width: 17px;
  margin-left: 5px; }

@media all and (min-width: 768px) {
  .may-2017-landing .table-header {
    padding: 45px 0 40px 0; }
  .may-2017-landing .col-menu img {
    max-width: 36px;
    margin-top: 3px; }
  .may-2017-landing .col-locate img {
    max-width: 27px; }
  .may-2017-landing .col-brand img {
    max-width: 370px; }
  .may-2017-landing .col-search img {
    max-width: 37px; }
  .may-2017-landing .col-bag img {
    max-width: 26px; }
  .may-2017-landing .box-legend {
    font-size: 15px; } }

.box1 {
  position: relative;
  background: #e8e5e2; }
  .box1:before {
    content: "";
    position: absolute;
    background: transparent;
    top: 10px;
    bottom: 16px;
    left: 10px;
    right: 10px;
    border: 4px solid #866894;
    z-index: 99; }
  .box1 .col-b1.right {
    line-height: 0; }

.col-b1.left {
  position: relative; }

.col-b1.middle {
  padding: 50px;
  text-align: center;
  position: relative;
  z-index: 999; }
  .col-b1.middle p {
    font-family: "NewCenturySchlbkLTStdItalic", Georgia, serif;
    margin-top: 0; }
    .col-b1.middle p:after {
      content: "";
      height: 3px;
      background: black;
      display: block;
      max-width: 30px;
      margin: 20px auto; }
  .col-b1.middle h2 {
    margin-bottom: 20px;
    font-size: 26px;
    letter-spacing: 1px; }

@media all and (min-width: 768px) {
  .box1 {
    display: table !important;
    width: 100%; }
    .box1:before {
      content: "";
      bottom: 10px; }
    .box1 .col-b1.left, .box1 .col-b1.middle, .box1 .col-b1.right {
      display: table-cell;
      width: 33.3333%;
      vertical-align: middle; }
  .col-b1.middle {
    padding: 50px 0; }
    .col-b1.middle h2 {
      font-size: 20px;
      letter-spacing: 2px;
      margin-bottom: 40px; } }

@media all and (min-width: 992px) {
  .col-b1.middle h2 {
    font-size: 30px;
    margin-bottom: 60px; }
  .col-b1.middle p {
    font-size: 24px; } }

@media all and (min-width: 1300px) {
  .col-b1.middle h2 {
    font-size: 40px; } }

.box2 {
  padding: 50px 0px;
  text-align: center; }
  .box2 h3 {
    font-size: 32px; }
  .box2 p {
    font-size: 20px;
    line-height: 1.4em;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px; }

@media all and (min-width: 768px) {
  .box2 {
    padding: 90px 0;
    display: table !important;
    width: 100%; }
    .box2 p {
      margin-bottom: 0px; }
    .box2 img {
      max-width: 100%;
      line-height: 0; }
    .box2 .colb2.left {
      padding: 50px; }
    .box2 .colb2.left, .box2 .colb2.right {
      display: table-cell;
      width: 50%;
      vertical-align: middle; } }

@media all and (min-width: 992px) {
  .box2 {
    padding: 116px 0; } }

@media all and (min-width: 1300px) {
  .box2 {
    padding: 116px 0 170px 0; }
  .box2 p {
    max-width: 390px;
    margin-left: auto;
    margin-right: auto; } }

.box3 {
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
  border-top: 1px solid #7a7c7d !important;
  border-bottom: 1px solid #7a7c7d !important;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; }
  .box3 h4 {
    font-family: "NewCenturySchlbkLTStdItalic", Georgia, serif;
    font-size: 24px; }
    .box3 h4:after {
      content: "";
      height: 5px;
      background: #000;
      max-width: 33px;
      margin: 20px auto;
      display: block; }
  .box3 h2 {
    font-family: "NewCenturySchlbkLTStdRoman", Georgia, serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px; }

@media all and (min-width: 768px) {
  .box3 h2 {
    max-width: 100%; } }

@media all and (min-width: 992px) {
  .box3 {
    max-width: 850px; }
    .box3 h2 {
      font-size: 50px; } }

.box4 {
  padding-top: 60px;
  padding-bottom: 60px; }

.col-b4.right {
  padding: 50px 0px;
  text-align: center;
  position: relative;
  z-index: 999; }
  .col-b4.right p {
    font-family: "NewCenturySchlbkLTStdItalic", Georgia, serif;
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 30px;
    line-height: 1.4em; }
    .col-b4.right p:before {
      content: "";
      height: 5px;
      background: black;
      display: block;
      max-width: 30px;
      margin: 15px auto 20px auto; }
    .col-b4.right p br {
      clear: both;
      display: inline-block; }
  .col-b4.right h2 {
    margin-bottom: 0px;
    font-size: 34px;
    letter-spacing: 1px;
    font-family: "ITCFranklinGothicStdDmCp", Arial, sans-serif;
    text-transform: uppercase; }
  .col-b4.right img {
    margin-top: 80px; }

.col-b4.left {
  text-align: center; }

@media all and (min-width: 768px) {
  .box4 {
    display: table !important;
    width: 100%; }
    .box4 .col-b4.left, .box4 .col-b4.right {
      display: table-cell;
      width: 50%;
      vertical-align: top; }
    .box4 .box {
      text-align: center; }
  .col-b4.right {
    padding: 90px 0 0 0;
    text-align: right; }
    .col-b4.right h2 {
      letter-spacing: 2px;
      font-size: 20px; }
    .col-b4.right p {
      font-size: 18px;
      margin-bottom: 20px; }
    .col-b4.right a {
      font-size: 16px; }
    .col-b4.right img {
      max-width: 300px;
      margin-right: 0;
      margin-left: auto; }
  .col-b4.left {
    line-height: 0;
    text-align: left; }
    .col-b4.left img {
      max-width: 100%; } }

@media all and (min-width: 992px) {
  .box4 {
    padding-top: 100px; }
  .col-b4.right h2 {
    font-size: 35px; }
  .col-b4.right p {
    font-size: 22px;
    margin-bottom: 40px; }
  .col-b4.right a {
    font-size: 20px; }
  .col-b4.right img {
    max-width: 400px;
    margin-top: 100px; } }

@media all and (min-width: 1300px) {
  .box4 {
    padding-bottom: 170px;
    padding-top: 170px; }
    .box4 .col-b4.left {
      width: 55%;
      padding-right: 100px; }
    .box4 .col-b4.right {
      width: 45%; }
    .box4 .box {
      text-align: center;
      margin-right: 80px; }
  .col-b4.right {
    padding-top: 110px; }
    .col-b4.right p {
      margin-bottom: 75px; }
    .col-b4.right img {
      max-width: 530px;
      margin-top: 190px; } }

.box5 {
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
  border-top: 1px solid #7a7c7d !important;
  border-bottom: 1px solid #7a7c7d !important;
  max-width: 500px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto; }
  .box5 h4 {
    font-family: "NewCenturySchlbkLTStdItalic", Georgia, serif;
    font-size: 24px; }
    .box5 h4:after {
      content: "";
      height: 5px;
      background: #000;
      max-width: 33px;
      margin: 20px auto;
      display: block; }
  .box5 h2 {
    font-family: "NewCenturySchlbkLTStdRoman", Georgia, serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px; }

@media all and (min-width: 768px) {
  .box5 h2 {
    max-width: 100%; } }

@media all and (min-width: 992px) {
  .box5 {
    max-width: 850px; }
    .box5 h2 {
      font-size: 50px; } }

@media all and (min-width: 1300px) {
  .box5 {
    margin-bottom: 170px; } }

.box6 {
  background: #F3F1F4; }

.col-b6.middle {
  padding: 50px 20px;
  text-align: center;
  position: relative;
  z-index: 999; }
  .col-b6.middle p {
    font-family: "NewCenturySchlbkLTStdItalic", Georgia, serif;
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 40px; }
    .col-b6.middle p:before {
      content: "";
      height: 5px;
      background: black;
      display: block;
      max-width: 30px;
      margin: 20px auto; }
  .col-b6.middle h2 {
    margin-bottom: 20px;
    font-size: 34px;
    letter-spacing: 1px; }

.col-b6.left, .col-b6.right {
  line-height: 0; }

@media all and (min-width: 768px) {
  .box6 {
    display: table;
    background: #F8F6F9;
    width: 100%; }
    .box6:before {
      content: "";
      bottom: 10px; }
    .box6 .col-b6.left, .box6 .col-b6.middle, .box6 .col-b6.right {
      display: table-cell;
      width: 35%;
      vertical-align: middle; }
  .col-b6.middle {
    padding: 20px 0;
    width: 30% !important; }
    .col-b6.middle h2 {
      letter-spacing: 2px;
      font-size: 20px; }
    .col-b6.middle p {
      font-size: 18px;
      margin-bottom: 20px; }
    .col-b6.middle a {
      font-size: 16px; } }

@media all and (min-width: 992px) {
  .col-b6.middle h2 {
    font-size: 30px; }
  .col-b6.middle p {
    font-size: 24px; }
  .col-b6.middle a {
    font-size: 20px; }
  .col-b6.left .content-box-tn {
    top: 30%; } }

@media all and (min-width: 1300px) {
  .col-b6.middle h2 {
    font-size: 40px; }
  .col-b6.middle p {
    margin-bottom: 75px; }
  .col-b6.left .content-box-tn {
    top: 33%; } }

.box7 {
  padding-top: 60px;
  padding-bottom: 60px; }

.col-b7.left {
  padding: 50px 0px 80px 0;
  text-align: center;
  position: relative;
  z-index: 999; }
  .col-b7.left p {
    font-family: "NewCenturySchlbkLTStdItalic", Georgia, serif;
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 30px;
    line-height: 1.4em;
    padding-right: 30px;
    padding-left: 30px; }
    .col-b7.left p:before {
      content: "";
      height: 5px;
      background: black;
      display: block;
      max-width: 30px;
      margin: 15px auto 20px auto; }
    .col-b7.left p br {
      display: none;
      clear: none; }
  .col-b7.left h2 {
    margin-bottom: 0px;
    font-size: 34px;
    letter-spacing: 1px;
    font-family: "ITCFranklinGothicStdDmCp", Arial, sans-serif;
    text-transform: uppercase; }
  .col-b7.left img {
    margin-top: 80px; }
  .col-b7.left .hidden-desktop {
    margin-bottom: 80px; }

.col-b7.right {
  text-align: center; }

@media all and (min-width: 768px) {
  .box7 {
    display: table !important;
    width: 100%; }
    .box7 .col-b7.left, .box7 .col-b7.right {
      display: table-cell;
      width: 50%;
      vertical-align: top; }
    .box7 .box {
      text-align: center; }
  .col-b7.left {
    padding: 90px 0 0 0;
    text-align: left; }
    .col-b7.left h2 {
      letter-spacing: 2px;
      font-size: 20px; }
    .col-b7.left p {
      font-size: 18px;
      margin-bottom: 20px; }
    .col-b7.left a {
      font-size: 16px; }
    .col-b7.left img {
      max-width: 300px; }
  .col-b7.right {
    line-height: 0; }
    .col-b7.right img {
      max-width: 100%; } }

@media all and (min-width: 992px) {
  .box7 {
    padding-top: 100px; }
  .col-b7.left h2 {
    font-size: 35px; }
  .col-b7.left p {
    font-size: 22px;
    margin-bottom: 40px; }
    .col-b7.left p br {
      clear: both;
      display: inline-block; }
  .col-b7.left a {
    font-size: 20px; }
  .col-b7.left img {
    max-width: 400px;
    margin-top: 100px; } }

@media all and (min-width: 1300px) {
  .box7 {
    padding-bottom: 170px;
    padding-top: 170px; }
  .col-b7.left {
    padding-top: 110px; }
    .col-b7.left p {
      margin-bottom: 75px;
      font-size: 24px;
      max-width: 340px;
      margin-left: auto;
      margin-right: auto; }
    .col-b7.left img {
      max-width: 530px;
      margin-top: 190px; } }

.box8 {
  padding-bottom: 60px; }

.col-b8.right {
  padding: 50px 0px;
  text-align: center;
  position: relative;
  z-index: 999; }
  .col-b8.right p {
    font-family: "NewCenturySchlbkLTStdItalic", Georgia, serif;
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 30px;
    line-height: 1.4em; }
    .col-b8.right p:before {
      content: "";
      height: 5px;
      background: black;
      display: block;
      max-width: 30px;
      margin: 15px auto 20px auto; }
    .col-b8.right p br {
      clear: both;
      display: inline-block; }
  .col-b8.right h2 {
    margin-bottom: 0px;
    font-size: 34px;
    letter-spacing: 1px;
    font-family: "ITCFranklinGothicStdDmCp", Arial, sans-serif;
    text-transform: uppercase; }
  .col-b8.right img {
    margin-top: 80px; }

.col-b8.left {
  text-align: center; }

@media all and (min-width: 768px) {
  .box8 {
    display: table !important;
    width: 100%; }
    .box8 .col-b8.left, .box8 .col-b8.right {
      display: table-cell;
      width: 50%;
      vertical-align: top; }
    .box8 .box {
      text-align: center; }
  .col-b8.right {
    padding: 90px 0 0 0;
    text-align: right; }
    .col-b8.right h2 {
      font-size: 20px; }
    .col-b8.right p {
      font-size: 18px;
      margin-bottom: 20px; }
    .col-b8.right a {
      font-size: 16px; }
    .col-b8.right img {
      max-width: 300px;
      margin-right: 0;
      margin-left: auto; }
  .col-b8.left {
    line-height: 0;
    text-align: left; }
    .col-b8.left img {
      max-width: 100%; }
    .col-b8.left .the-last {
      margin-top: 60px;
      max-width: 85%; } }

@media all and (min-width: 992px) {
  .col-b8.right h2 {
    font-size: 35px; }
  .col-b8.right p {
    font-size: 24px;
    margin-bottom: 40px; }
  .col-b8.right a {
    font-size: 20px; }
  .col-b8.right img {
    max-width: 400px;
    margin-top: 100px; } }

@media all and (min-width: 1300px) {
  .box8 {
    padding-bottom: 170px; }
  .col-b8.right {
    padding-top: 110px; }
    .col-b8.right p {
      margin-bottom: 75px; }
    .col-b8.right img {
      max-width: 530px;
      margin-top: 190px; }
  .col-b8.left .the-last {
    margin-top: 100px; } }
