.btn {
	background: $brand-primary;
	color: white;
	display: inline-block;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 16px 31px 10px 35px;
	font-family: "ITCFranklinGothicStdDmCp", Arial, sans-serif;
	&:hover {
		background: darken($brand-primary,4%);
	}
	&:after {
		content: "\f0da";
		font: normal normal normal 20px/1 FontAwesome;
		display: inline-block;
		vertical-align: middle;
		margin-left: 8px;
		position: relative;
		top: -1px;
	}
}

// 768px
@media all and (min-width: $screen-portrait) {
}

// 992px
@media all and (min-width: $screen-landscape) {
}

// 1200px
@media all and (min-width: $screen-desktop) {
}