.box-copy {
    padding: 60px 15px;
    text-align: center;
    max-width: 1150px;
    margin: 0 auto;

    h2{
        //margin-bottom: 30px;
        font-family: $primary-font-book;
    }

    &.box-btn{
        a.btn{
            //margin-bottom: 70px; 
        }
    }
}

// 768px
@media all and (min-width: $screen-portrait) {
    .box-copy{
        padding-top: 70px;
        padding-bottom: 70px;
    }
}
 
//992px
@media screen and (min-width: $screen-landscape) {
    .box-copy {
        padding-top: 80px;
        padding-bottom: 80px;

        h2{
            //margin-bottom: 45px;
        }
    }
}
