.box8 {
	text-align: center;
	padding: 50px 0 80px 0;
	.hr {
		display: none;
	}
	h2 {
		text-transform: none;
	}
	h5 {
		margin-bottom: 30px;
		font-family: Arial, sans-serif;
		font-weight: lighter;
		font-size: 20px;
		color: #444;
		letter-spacing: 3px;
	}
}

// 992px
@media all and (min-width: $screen-landscape) {
	.box8 {
		padding: 60px 15px;
		h2 {
			margin-bottom: 0;
		}
		.hr {
			display: block;
			margin: 80px auto 40px auto;
			max-width: 100%; 
		}
	}
}

// 1200px
@media all and (min-width: 1200px) {
	.box8 {
		padding: 60px 15px;
		h2 {
			margin-bottom: 0;
		}
		.hr {
			display: block;
			margin: 80px auto 40px auto;
			max-width: 100%;
		}
	}
}