$month : mens-xc4-golf-shirts;

$screen-portrait      :  768px;
$screen-landscape     :  992px;
$screen-desktop       :  1300px;

$brand-primary        : #000000;
$brand-secondary      : #3BAE49;

$primary-font-it      : "NewCenturySchlbkLTStdItalic", Georgia, serif;

$primary-font         : "Avenir", Arial, serif;
$primary-font-book    : "AvenirBook", Arial, serif;
$primary-font-size    : 18px;

$h1: 60px;
$h2: 48px;
$h3: 36px;
