$month : june;

$screen-portrait      :  768px;
$screen-landscape     :  992px;
$screen-desktop       :  1300px;

$brand-primary        : #fec273;
$brand-secondary      : #daccc0;

$primary-font         : "NewCenturySchlbkLTStdRoman", Georgia, serif;
$primary-font-it      : "NewCenturySchlbkLTStdItalic", Georgia, serif;
$primary-font-size    : 24px;

$h1: 60px;
$h2: 58px;
$h3: 56px;
