.womens-landing .box-1 {
	position: relative;
	line-height: 0;
	.caption {
		position: absolute;
		top: 20%;
		right: 20px;
		width: 40%;
		text-align: center;
	}
	img {
		width: 100%;
		height: auto;
	}
	h1 {
		font-size: 15px;
		line-height: 1.2em;
		margin: 0;
		&:after {
			content: "";
			height: 1px;
			background: white;
			max-width: 200px;
			width: 45%;
			display: block;
			margin: 10px auto 14px auto;
		}
	}
	p.text {
		font-family: $font-italic;
		line-height: 1.3em;
		font-size: 13px;
		letter-spacing: 2px;
	}
	h1, p.text {
		color: white;
		
	}
}

// 768px
@media all and (min-width: $screen-portrait) {
	.womens-landing .box-1 {
		.caption {
			top: 30%;
		}
		h1 {
			font-size: 37px;
			line-height: 1.4em;
			&:after {
				margin: 10px auto 14px auto;
			}
		}
		p.text {
			font-size: 18px;
			letter-spacing: 5px;
		}
	}
}

// 992px
@media all and (min-width: $screen-landscape) {
	.womens-landing .box-1 {
		.caption {
			width: 40%;
		}
	}
}

// 1200px
@media all and (min-width: $screen-desktop) {
	.womens-landing .box-1 {
		.caption {
			width: auto;
			padding-left: 30px;
			padding-right: 30px;
			right: 10%;
			top: 38%;
		}
	}
}