/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html.html-influencer-wonderland-landing, body.body-influencer-wonderland-landing, .influencer-wonderland-landing div, .influencer-wonderland-landing span, .influencer-wonderland-landing applet, .influencer-wonderland-landing object, .influencer-wonderland-landing iframe, .influencer-wonderland-landing h1, .influencer-wonderland-landing h3, .influencer-wonderland-landing h4, .influencer-wonderland-landing h5, .influencer-wonderland-landing h6, .influencer-wonderland-landing p, .influencer-wonderland-landing blockquote, .influencer-wonderland-landing pre, .influencer-wonderland-landing a, .influencer-wonderland-landing abbr, .influencer-wonderland-landing acronym, .influencer-wonderland-landing address, .influencer-wonderland-landing big, .influencer-wonderland-landing cite, .influencer-wonderland-landing code, .influencer-wonderland-landing del, .influencer-wonderland-landing dfn, .influencer-wonderland-landing em, .influencer-wonderland-landing img, .influencer-wonderland-landing ins, .influencer-wonderland-landing kbd, .influencer-wonderland-landing q, .influencer-wonderland-landing s, .influencer-wonderland-landing samp, .influencer-wonderland-landing small, .influencer-wonderland-landing strike, .influencer-wonderland-landing strong, .influencer-wonderland-landing sub, .influencer-wonderland-landing sup, .influencer-wonderland-landing tt, .influencer-wonderland-landing var, .influencer-wonderland-landing b, .influencer-wonderland-landing u, .influencer-wonderland-landing i, .influencer-wonderland-landing center, .influencer-wonderland-landing dl, .influencer-wonderland-landing dt, .influencer-wonderland-landing dd, .influencer-wonderland-landing ol, .influencer-wonderland-landing ul, .influencer-wonderland-landing li, .influencer-wonderland-landing fieldset, .influencer-wonderland-landing form, .influencer-wonderland-landing label, .influencer-wonderland-landing legend, .influencer-wonderland-landing table, .influencer-wonderland-landing caption, .influencer-wonderland-landing tbody, .influencer-wonderland-landing tfoot, .influencer-wonderland-landing thead, .influencer-wonderland-landing tr, .influencer-wonderland-landing th, .influencer-wonderland-landing td, .influencer-wonderland-landing article, .influencer-wonderland-landing aside, .influencer-wonderland-landing canvas, .influencer-wonderland-landing details, .influencer-wonderland-landing embed, .influencer-wonderland-landing figure, .influencer-wonderland-landing figcaption, .influencer-wonderland-landing footer, .influencer-wonderland-landing header, .influencer-wonderland-landing hgroup, .influencer-wonderland-landing menu, .influencer-wonderland-landing nav, .influencer-wonderland-landing output, .influencer-wonderland-landing ruby, .influencer-wonderland-landing section, .influencer-wonderland-landing summary, .influencer-wonderland-landing time, .influencer-wonderland-landing mark, .influencer-wonderland-landing audio, .influencer-wonderland-landing video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

.influencer-wonderland-landing article, .influencer-wonderland-landing aside, .influencer-wonderland-landing details, .influencer-wonderland-landing figcaption, .influencer-wonderland-landing figure, .influencer-wonderland-landing footer, .influencer-wonderland-landing header, .influencer-wonderland-landing hgroup, .influencer-wonderland-landing menu, .influencer-wonderland-landing nav, .influencer-wonderland-landing section {
  display: block; }

body.influencer-wonderland-landing {
  line-height: 1; }

.influencer-wonderland-landing ol, .influencer-wonderland-landing ul {
  list-style: none; }

.influencer-wonderland-landing blockquote, .influencer-wonderland-landing q {
  quotes: none; }

.influencer-wonderland-landing blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

.influencer-wonderland-landing q {
  &:before, &:after {
    content: '';
    content: none; } }

.influencer-wonderland-landing table {
  border-collapse: collapse;
  border-spacing: 0; }