.box1 {
	position: relative;
	background: #daccc0;
	&:before {
		content:"";
		position: absolute;
		background: transparent;
		top: 10px;
		bottom: 16px;
		left: 10px;
		right: 10px;
		border: 4px solid white;
		z-index: 99;
	}
	.col-b1.right {
		line-height: 0;
	}
}

.col-b1.left {
	position: relative;
	.content-box-tn {
		position: absolute;
		height: 5px;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 9999;
		text-align: center;
	}
	.box-tn {
		padding: 10px 20px;
		background: white;
		display: inline-block;
		text-align: center;
		h5 {
			font-family: "ITCFranklinGothicStdDmCp", Arial, sans-serif;
			color: #343739;
			font-size: 20px;
			letter-spacing: 1px;
		}
		hr {
			border: 0;
			height: 2px;
			background: #8f9192;
			margin: 0;
		}
		hr:nth-child(1) {
			margin-bottom: 15px;
		}
		hr:nth-child(3) {
			margin: 10px auto 15px auto;
			max-width: 24px;
		}
		hr:nth-child(6) {
			margin: 10px auto 10px auto;
		}
		h6 {
			font-family: "NewCenturySchlbkLTStdItalic", Georgia, serif;
			font-size: 14px;
			margin-top: 10px;
			letter-spacing: 1px;
		}
		br {
			display: none;
		}
	}
}

.col-b1.middle {
	padding: 50px;
	text-align: center;
	position: relative;
	z-index: 999;
	p {
		font-family: "NewCenturySchlbkLTStdItalic", Georgia, serif;
		margin-top: 0;
		&:after {
			content: "";
			height: 3px;
			background: black;
			display: block;
			max-width: 30px;
			margin: 20px auto;
		}
	}
	h2 {
		margin-bottom: 20px;
		font-size: 26px;
		letter-spacing: 1px;
	}
	a.btn {
		background: white;
		color: black;
		&:hover {
			background: #f1f1f1;
		}
	}
}
// 768px
@media all and (min-width: $screen-portrait) {
	.box1 {
		display: table!important;
		width: 100%;
		&:before {
			content:"";
			bottom: 10px;
		}
		.col-b1.left, .col-b1.middle, .col-b1.right {
			display: table-cell;
			width: 33.3333%;
			vertical-align: middle;
		}
	}
	.col-b1.middle {
		padding: 50px 0;
		h2 {
			font-size: 20px;
			letter-spacing: 2px;
			margin-bottom: 40px;
		}
	}

	.col-b1.left {
		.content-box-tn {
			bottom: 160px;
			top: auto;
			text-align: left;
		}
		.box-tn {
			min-width: 170px;
			br {
				display: block;
			}
			padding: 10px 17px;
			h5 {
				font-size: 21px;
				line-height: 1.1em;

			}
		}
	}
}

// 992px
@media all and (min-width: $screen-landscape) {
	.col-b1.middle {
		h2 {
			font-size: 30px;
			margin-bottom: 60px;
		}
		p {
			font-size: 24px;
		}
	}
	.col-b1.left {
		.content-box-tn {
			bottom: 100px;
		}
	}
}

// 1200px
@media all and (min-width: $screen-desktop) {
	.col-b1.middle {
		h2 {
			font-size: 40px;
		}
	}

}