.february-2017-landing h1, .february-2017-landing h2, .february-2017-landing h3, .february-2017-landing h4, .february-2017-landing h5, .february-2017-landing h6, .february-2017-landing p, .february-2017-landing span, .february-2017-landing a, .february-2017-landing ul, .february-2017-landing li {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.february-2017-landing h1,
.february-2017-landing h2,
.february-2017-landing h3,
.february-2017-landing h4,
.february-2017-landing h5,
.february-2017-landing h6 {
	margin: 0;
	padding: 0;
	font-family: "NewCenturySchlbkLTStdRoman", Georgia, serif;
	font-weight: normal;
}

.february-2017-landing h1 {
}
.february-2017-landing h2 {
	font-size: 30px;
}
.february-2017-landing h3 {
	font-size: 20px;
}
.february-2017-landing h4 {
}
.february-2017-landing h5 {
}
.february-2017-landing h6 {
}



// 768px
@media all and (min-width: $screen-portrait) {
}

// 992px
@media all and (min-width: $screen-landscape) {

}

// 1200px
@media all and (min-width: $screen-desktop) {
}