.march-2017-landing h1, .march-2017-landing h2, .march-2017-landing h3, .march-2017-landing h4, .march-2017-landing h5, .march-2017-landing h6, .march-2017-landing p, .march-2017-landing span, .march-2017-landing a, .march-2017-landing ul, .march-2017-landing li {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.march-2017-landing h1,
.march-2017-landing h2,
.march-2017-landing h3,
.march-2017-landing h4,
.march-2017-landing h5,
.march-2017-landing h6 {
	margin: 0;
	padding: 0;
	font-family: "NewCenturySchlbkLTStdRoman", Georgia, serif;
	font-weight: normal;
}

.march-2017-landing h1 {
}
.march-2017-landing h2 {
	font-size: 30px;
}
.march-2017-landing h3 {
	font-size: 20px;
}
.march-2017-landing h4 {
}
.march-2017-landing h5 {
}
.march-2017-landing h6 {
}



// 768px
@media all and (min-width: $screen-portrait) {
}

// 992px
@media all and (min-width: $screen-landscape) {

}

// 1200px
@media all and (min-width: $screen-desktop) {
}