@font-face {
    font-family:'HelveticaNowVar';
    src: url("HelveticaNowVar.ttf") format("truetype");
    font-variation-settings:'wght' 700, 'wdth' 50, 'opsz' 30;
    font-display: swap; 
 }
.font-text {
    font-family: 'HelveticaNowVar', sans-serif; 
    visibility: hidden;
}
.loaded .font-text {
    visibility: visible;
}
.polos2024 .tbtn figure.figure {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}
.polos2024 .tbtn ul {
    list-style: none;
}
.polos2024 .tbtn figure.figure {
    line-height: 0;
}
body.polos2024 {
    margin: 0;
}
body.polos2024 .tbtn {
    margin: 0;
    font-size: 16px;
    font-family: 'HelveticaNowvaR', Helvetica, Arial, sans-serif;
    font-variation-settings:'wght' 700, 'wdth' 50, 'opsz' 30;
}
.polos2024 .tbtn,
.polos2024 .tbtn a,
.polos2024 .tbtn h1,
.polos2024 .tbtn h2,
.polos2024 .tbtn h3,
.polos2024 .tbtn h4,
.polos2024 .tbtn h5,
.polos2024 .tbtn h6,
.polos2024 .tbtn li,
.polos2024 .tbtn p,
.polos2024 .tbtn ul {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.polos2024 .tbtn h1,
.polos2024 .tbtn h2,
.polos2024 .tbtn h3,
.polos2024 .tbtn h4,
.polos2024 .tbtn h5,
.polos2024 .tbtn h6 {
    margin: 0;
    padding: 0;
}

@media all and (min-width: 768px) {
    .polos2024 .two-cols.tbtn  {
        padding-top: 2.23%;
    }
}

.polos2024 .tbtn .responsive-image {
    width: 100%;
    height: auto;
}

.polos2024 .tbtn .two-cols .btn {
    margin: 2.6% auto 0;
}
.polos2024 .tbtn .box-two {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.polos2024 .tbtn .box-two .left {
    box-sizing: border-box;
}
.polos2024 .tbtn .box-two .right {
    box-sizing: border-box;
}
@media all and (min-width: 768px) {
    .polos2024 .tbtn .section-heigth {
        height: 120px;
        padding: 0 !important;
    }
    /* Opacity on images */
    .polos2024 .tbtn .hover {
        background: #212121;
    }
    .polos2024 .tbtn .hover img {
        opacity: 1;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    .polos2024 .tbtn .hover:hover img {
        opacity: .5;
    }
    /* End opacity on images */
}

.polos2024 .tbtn .embed-container {
  position: relative;
  padding-bottom: 82%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

.polos2024 .tbtn .embed-container iframe, .polos2024 .tbtn .embed-container video, .polos2024 .tbtn .embed-container object, .polos2024 .tbtn .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}
.polos2024 .two-cols.tbtn {
    text-align: center;
    font-size: 0;
}
@media all and (max-width: 767px) {
    .polos2024 .tbtn .box-mobile {
    padding-bottom: 3%;
    padding-top: 3%;
    box-sizing: border-box;
    }
    .polos2024 .tbtn .font-text {
        font-weight: 500!important;
    }
    .polos2024 .tbtn .trufoam p .br {
        display: none;
    }
    .polos2024 .tbtn .trufoam h3 .br {
        display: none;
    }
}

main.polos2024 .tbtn {
    max-width: 1600px;
    margin: 0 auto;
}

.polos2024 .tbtn .box-hero h2 {
    font-size: 56px;
    font-family:'HelveticaNowvaR', arial, sans-serif;
    font-variation-settings:'wght' 700, 'wdth' 50, 'opsz' 30;
    color: #888888;
}

/* HERO BOX */

.polos2024 .box1.tbtn {
    position: relative;
    }
.polos2024 .box1.tbtn h2 {
        margin-bottom: 0.7%;
    }
.polos2024 .box1.tbtn .tablem {
        display: table;
        width: 100%; 
 }       
.polos2024 .box1.tbtn .span1, .polos2024 .box1.tbtn .span2 {
    display: table-cell;
    vertical-align: middle;
    float: none;
    text-align: center;
}
.polos2024 .box1.tbtn .tablem .span1, .polos2024 .box1.tbtn .tablem .span2 {
    width: 100%;
}
.polos2024 .box1.tbtn .tablem .span9 {
    width: 50%;
}

.polos2024 .box1.tbtn .circle-one-day h2 {
    margin-left: auto;
    font-family:'HelveticaNowvaR', Arial, sans-serif;
    font-variation-settings:'wght' 700, 'wdth' 50, 'opsz' 30;
    margin-right: auto;
    font-size: 12.6em;
    text-transform: uppercase;
    letter-spacing: 0px;
    line-height: 0.79em;
    color: #ff2201;
    text-align: center;
}
.polos2024 .box1.tbtn .span3 h2 {
    font-family:'HelveticaNowvaR', Arial, sans-serif;
    font-variation-settings:'wght' 700, 'wdth' 50, 'opsz' 30;
    font-size: 5.5em;
    letter-spacing: -2px;
    text-transform: uppercase;
    line-height: 0.84em;
    color: #fcf2d5;
    text-align: center;
}
.polos2024 .tbtn .content-banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.polos2024 .tbtn .tablem-banner {
    display: table;
    width: 100%;
    height: 100%;
}
.polos2024 .tbtn .cell-banner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.polos2024 .box1.tbtn .circle-one-day .btn {
    position: absolute;
}

@media screen and (min-width: 890px) and (max-width: 1090px){
    .polos2024 .box1.tbtn .circle-one-day h2 {
        font-size: 7em;
    }
    .polos2024 .tbtn h3 {
        font-size: 21.2px;
    }
}
@media screen and (min-width: 1091px) and (max-width: 1250px){
    .polos2024 .box1.tbtn .circle-one-day h2 {
        font-size: 8.5em;
    }
    .polos2024 .tbtn .btn {
        font-size: 1.7rem;
        border-width: 2px;
        line-height: 14px;
        padding: 16px 20px 17px;
    }
}
@media screen and (min-width: 768px) and (max-width: 889px){
    .polos2024 .box1.tbtn .circle-one-day h2 {
        font-size: 6em;
        letter-spacing: -2px;
    }
}

@media screen and (min-width: 768px) {
    .polos2024 .tbtn .bigcontainer {
        padding-left: 6.25%;
        padding-right: 6.25%;
    }  
    .polos2024 .tbtn .abigcontainer {
        padding-left: 1.875%;
        padding-right: 1.875%;
    } 
    .polos2024 .tbtn .trufoam .brm {
        display: none;
    }
    .polos2024 .box1.tbtn .circle-one-day {
        display: block;
        text-align: left;
        margin-right: auto;
        margin-left: 52.7%;
    } 
    .polos2024 .tbtn .embed-container {
        padding-bottom: 56.25%;
    }
}

/* FIRST TWO COL BOX */

.polos2024 .tbtn .trufoam {
    display: flex;
    background-color: #fcf2d5;
    flex-direction: column;
    height: 100%;
}
.polos2024 .tbtn .firstsection {
    text-align: center;
    margin-top: 3.55%;
}
.polos2024 .tbtn .trufoam h3 {
    color: #ff2201;
    text-transform: uppercase;
    font-family:'HelveticaNowvaR', Arial, sans-serif;
    font-variation-settings:'wght' 700, 'wdth' 50, 'opsz' 30;
    font-size: 7.9em;
    letter-spacing: -1px;
    line-height: 0.79em;
    margin-bottom: 3%;
    text-align: center;
}
.polos2024 .tbtn .with-btn h3 {
    color: #ff2201;
    font-family:'HelveticaNowvaR', Arial, sans-serif;
    font-variation-settings:'wght' 700, 'wdth' 50, 'opsz' 30;
    font-size: 4.7rem;
}
.polos2024 .box1.tbtn .btn {
    bottom: 3.3%;
    left: 1.8%;
}
.polos2024 .tbtn .btn {
    background: transparent;
    color: #ff2201!important;
    display: inline-block;
    border: 4px solid #ff2201;
    font-size: 3.35rem;
    line-height: 18px;
    font-weight: bold;
    padding: 29px 35px 31px;
    font-family: 'HelveticaNowvaR', Arial, sans-serif;
    font-variation-settings:'wght' 700, 'wdth' 50, 'opsz' 30;
    transition: opacity 0.3s ease; 
    text-decoration: none;
}
.polos2024 .tbtn .btn:hover, .polos2024 .box1.tbtn .span3 .btn:hover {
    opacity: 0.8!important;
}
.polos2024 .tbtn .trufoam .btn {
    align-self: center;
    margin-top: 3.8%;
}
@media all (max-width: 767px) {
    .polos2024 .tbtn .btn {
        font-size: 16px;
        max-width: 100px;
        display: block;
        text-align: center;
        margin: 40px auto;
        padding: 15px 20px 13px;
    }   
}
@media screen and (min-width: 1125px) and (max-width: 1250px){
    .polos2024 .tbtn .trufoam h3 {
        font-size: 6.5em;
    } 
    .polos2024 .tbtn .btn {
        font-size: 1.7rem;
        border-width: 2px;
        line-height: 14px;
        padding: 16px 20px 17px;
    }
    .polos2024 .tbtn .with-btn h3 {
        font-size: 2.5rem;
    }
}
@media screen and (min-width: 1251px) and (max-width: 1350px){
    .polos2024 .box1.tbtn .circle-one-day h2 {
        font-size: 10em;
    }
    .polos2024 .tbtn .with-btn h3 {
        font-size: 3rem;
    }
    .polos2024 .tbtn .btn {
        font-size: 2rem;
        border-width: 2px;
        line-height: 14px;
        padding: 17px 22px 18px;
    }
    .polos2024 .tbtn .trufoam h3 {
        font-size: 7em;
    }
}
@media screen and (min-width: 1351px) and (max-width: 1450px){
    .polos2024 .box1.tbtn .circle-one-day h2 {
        font-size: 11em;
    }
    .polos2024 .tbtn .with-btn h3 {
        font-size: 3.5rem;
    }
    .polos2024 .tbtn .btn {
        font-size: 2.5rem;
        border-width: 3px;
        line-height: 14px;
        padding: 21px 24px 20px;
    }
}
@media screen and (min-width: 1451px) and (max-width: 1550px){
    .polos2024 .box1.tbtn .circle-one-day h2 {
        font-size: 12em;
    }
    .polos2024 .tbtn .with-btn h3 {
        font-size: 3.7rem;
    }
    .polos2024 .tbtn .btn {
        font-size: 2.5rem;
        border-width: 3px;
        line-height: 14px;
        padding: 21px 24px 20px;
    }
}
@media screen and (min-width: 900px) and (max-width: 1124px){
    .polos2024 .tbtn .btn {
        font-size: 1.5rem;
        border-width: 2px;
        line-height: 14px;
        padding: 14px 20px 15px;
    }  
    .polos2024 .tbtn .trufoam h3 {
        font-size: 5.2em;
    } 
    .polos2024 .tbtn .with-btn h3 {
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 899px){
    .polos2024 .tbtn .trufoam h3 {
        font-size: 4em;   
    } 
    .polos2024 .tbtn .trufoam p {
        font-size: 22px;
        line-height: 32px;
     }
     .polos2024 .tbtn .btn {
        font-size: 1.5rem;
        border-width: 2px;
        line-height: 14px;
        margin-top: 0.5em!important;
        padding: 14px 20px 15px;
    }   
    .polos2024 .tbtn .with-btn h3 {
        font-size: 1.7rem;
    }
}

.polos2024 .tbtn .hidden,
.polos2024 .tbtn .only-desktop,
.polos2024 .tbtn .btn-only {
    display: none;
}
@media all and (min-width: 768px) {
    .polos2024 .tbtn .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 750px;
    }
    .polos2024 .tbtn .trufoam h3 {
        margin-top: 6.35%;
        margin-bottom: 7.2%;
    }
    .polos2024 .tbtn .only-mobile {
        display: none;
    }
    .polos2024 .tbtn .only-desktop {
        display: block;
    }
    .polos2024 .tbtn .btn-only {
        display: inline-block;
    }
}
.polos2024 .tbtn .with-btn {
    position: relative;
}
.polos2024 .tbtn .btn-in {
    position: absolute;
    color: #fcf2d5!important;
    border-color: #fcf2d5;
    bottom: 1.7%;
    right: 2.2%;
}
@media all and (min-width: 1400px) {
    .polos2024 .tbtn .btn-in {
        font-size: 2.9rem;
        padding: 25px 30px 26px;
    }
}
.polos2024 .tbtn .with-btn h3 {
    position: absolute;
    left: 4%;
}

.polos2024 .tbtn sup {
    font-size: .7em;
    vertical-align: super!important;
}
/* MOBILE */


@media screen and (max-width: 767px){
    .polos2024 .box1.tbtn {
        position: relative;
    }
    .polos2024 .box1.tbtn .span3 h2 {
        font-weight: 500!important;
    }
    .polos2024 .tbtn .firstsection {
        margin-top: 2.7%;
        margin-bottom: 4.2%;
        padding-top: 7.2%;
        padding-bottom: 4.5%;
    }
    .polos2024 .tbtn .with-btn h3 {
        top: 1%;
        font-weight: 500!important;
        line-height: 20px;
    }
    .polos2024 .tbtn .with-btn h3 {
        font-size: 1rem;
    }
    .polos2024 .tbtn .with-btn .btn {
        font-size: 0.8rem;
        padding: 3px 8px 2px;
        border-width: 1.5px;
    }
   .polos2024 .box1.tbtn .circle-one-day {
    margin-top: 0;
    margin-bottom: 50%;
    margin-left: 10%;
   }
    .polos2024 .box1.tbtn .span3 {
        position: absolute;
        bottom: 3.9%;
        right: 4%;
    }
    .polos2024 .box1.tbtn .span3 .btn {
        font-size: 1.5rem;
        border-width: 2px;
        color: #bcc4ae!important;
        border-color: #FCF2D5;
        background-color: #FCF2D5;
        font-weight: 500!important;
        padding: 8px 15px 9px;
    }
    .polos2024 .tbtn .tru, .box-two {
        display: flex;
        flex-flow: column;
    }
    .polos2024 .tbtn .tru .left {
        order: 2;
    }
    .polos2024 .tbtn .tru .right {
        order: 1;
    }
    .polos2024 .tbtn .bigcontainer {
        padding-left: 10%;
        padding-right: 10%;
    }
    .polos2024 .tbtn .abigcontainer {
        padding-right: 15px;
        padding-left: 15px;
    }
    .polos2024 .tbtn .trufoam h3 {
        font-size: 4.07em;
        line-height: 0.9em;
    }
   .polos2024 .tbtn h4, .polos2024 .tbtn p {
        font-size: 19.5px;
        line-height: 31px;
    }

    .polos2024 .tbtn .trufoam .btn {
        align-self: center;
    }
    .polos2024 .tbtn, .polos2024 .tbtn {
      overflow-x: hidden;
    }
    .polos2024 .tbtn {
      position: relative
    }
    .polos2024 .two-cols.tbtn.bigcontainer, .polos2024 .box1.tbtn.bigcontainer {
        padding-left: 0;
        padding-right: 0;
    }
    .polos2024 .two-cols.tbtn .btn {
        margin-top: 12%;
    }
    .polos2024 .tbtn .reverse {
        flex-flow: column-reverse;
    }
}
@media screen and (min-width: 400px) and (max-width: 450px) {
    .polos2024 .box1.tbtn .span3 h2 {
        font-size: 6em;
    }
    .polos2024 .box1.tbtn .span3 .btn {
        font-size: 1.6rem;
        padding: 9px 16px 11px;
    }
}
@media screen and (min-width: 451px) and (max-width: 550px) {
    .polos2024 .box1.tbtn .span3 h2 {
        font-size: 6.5em;
    }
    .polos2024 .tbtn .trufoam h3 {
        font-size: 4.5em;
    }
    .polos2024 .box1.tbtn .span3 .btn {
        font-size: 1.7rem;
        padding: 10px 17px 11px;
    }
}
@media screen and (min-width: 551px) and (max-width: 650px) {
    .polos2024 .box1.tbtn .span3 h2 {
        font-size: 8.3em;
    }
    .polos2024 .tbtn .with-btn .btn {
        font-size: 1.2rem;
        padding: 4px 10px 5px;
    }
    .polos2024 .tbtn .with-btn h3 {
        font-size: 1.7rem;
        top: 2%;
    }
    .polos2024 .box1.tbtn .span3 .btn {
        font-size: 2rem;
        padding: 12px 20px 13px;
    }
    .polos2024 .tbtn .trufoam h3 {
        font-size: 5.5em;
    }
}
@media screen and (min-width: 651px) and (max-width: 767px) {
    .polos2024 .box1.tbtn .span3 h2 {
        font-size: 9.5em;
    }
    .polos2024 .tbtn .trufoam h3 {
        font-size: 6.5em;
    }
    .polos2024 .box1.tbtn .span3 .btn {
        font-size: 2.5rem;
        padding: 14px 23px 15px;
        border-width: 3px;
    }
    .polos2024 .tbtn .with-btn .btn {
        font-size: 1.8rem;
        padding: 8px 15px 11px;
        border-width: 2px;
    }
    .polos2024 .tbtn .with-btn h3 {
        font-size: 2rem;
        top: 3%;
    }
}