.box10 {
	background: #f7f5f8 url('images/img-box10.0.jpg') repeat-x 0 0;
	text-align: center;
	margin: 8% 0;

	.table{
		display: table;
		width: 100%;

		.span1{
			display: table-cell;
			vertical-align: middle;
			float: none;

			&.alignBottom{
				vertical-align: bottom;
			}
		}
	}
}


@media screen and (max-width: $screen-portrait){
	.box10 {
		.table{
			display: block;
			width: 100%;

			.span1{
				display: block;
				&.middle{
					padding: 7.5% 0;

					p{
						margin: 0 25% 35px;
					}
				}
			}
		}
	}
}