.box7 {
	.span1 .left,
	.span2 .right{
		display: block;
		position: relative;
	}

	.span1 .left{
		margin-top: 50%; 
		margin-bottom: 50%; 
		z-index: 5;
		min-width: 125%;
	}

	.span2 .right{
	}
}



@media screen and (max-width: $screen-portrait){
	.box7 {
		.span1 .left,
		.span2 .right {
			margin:0;
			padding:0;
		}
		.span1 .left {
			border-top: 7px solid #fff;
		}

		.wrapper {
		  display: flex;
		  flex-flow: row wrap;
			.span1 {
				order: 2;
			}
			.span2 {
		        order: 1;
		    }
		}
	}
}