// Fonts
// font-family:'NewCenturySchlbkLTStdRoman';
// font-family:'NewCenturySchlbkLTStdItalic';
// font-family:'ITCFranklinGothicStdDmCp'; --> Buttons

.sep-2017-landing,
.sep-2017-landing h1,
.sep-2017-landing h2,
.sep-2017-landing h3,
.sep-2017-landing h4,
.sep-2017-landing h5,
.sep-2017-landing h6,
.sep-2017-landing p,
.sep-2017-landing span,
.sep-2017-landing a,
.sep-2017-landing ul,
.sep-2017-landing li {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $primary-font;
	font-size: $primary-font-size;
}
.sep-2017-landing h1,
.sep-2017-landing h2,
.sep-2017-landing h3,
.sep-2017-landing h4,
.sep-2017-landing h5,
.sep-2017-landing h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.sep-2017-landing h1 {
}
.sep-2017-landing h2 {
	font-size: 32px;
	font-size: 1.333em;
	line-height: 1.1; 
	margin-bottom: 15px;
}
.sep-2017-landing h3 {
}
.sep-2017-landing h4 {
}
.sep-2017-landing h5 {
}
.sep-2017-landing h6 {
}

.sep-2017-landing p {
	margin-bottom: 35px; 
	font-size: 0.750em;
	line-height: 1.2; 
}


// 768px
@media all and (min-width: $screen-portrait) {
	.sep-2017-landing h2 {
		font-size: 58px;
		font-size: 2.417em;
	}
	.sep-2017-landing p {
	    font-size: 1.000em;
	}
}

// 992px
@media all and (min-width: $screen-landscape) {
}

// 1300px
@media all and (min-width: $screen-desktop) {
}