.box-to-right {
	text-align: center;
	.span2 .left,
	.span1 .right {
		display: block;
		position: relative;
	}
	.span2 .left {
		border-top: 7px solid #fff;
	}
	.span1 .right {
		margin-top: 50%;
		margin-bottom: 50%;
		z-index: 5;
		min-width: 125%;
		right: 0;
	}
}


//768px
@media screen and (min-width: $screen-portrait) {
	.box-to-right {
		.span2 .left {
			border-top: none;
		}
		.span1 .right {
			border: 7px solid #fff;
			right: 29%;
		}
	}
}
//992px
@media screen and (max-width: $screen-portrait){
	.box-to-right {
		.span2 .left,
		.span1 .right {
			margin:0;
			padding:0;
			min-width: 100%;
		}
		.wrapper {
		  display: flex;
		  flex-flow: row wrap;
			.span1 {
				order: 2;
			}
			.span2 {
		        order: 1;
		    }
		}
	}
}
