@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'HelveticaNeueLTStdBd';
  src: url("fonts/HelveticaNeueLTStdBd.eot");
  src: url("fonts/HelveticaNeueLTStdBd.eot") format("embedded-opentype"), url("fonts/HelveticaNeueLTStdBd.woff2") format("woff2"), url("fonts/HelveticaNeueLTStdBd.woff") format("woff"), url("fonts/HelveticaNeueLTStdBd.ttf") format("truetype"), url("fonts/HelveticaNeueLTStdBd.svg#HelveticaNeueLTStdBd") format("svg"); }
@font-face {
  font-family: 'ITCFranklinGothicStdDmCp';
  src: url("fonts/ITCFranklinGothicStdDmCp.eot");
  src: url("fonts/ITCFranklinGothicStdDmCp.eot") format("embedded-opentype"), url("fonts/ITCFranklinGothicStdDmCp.woff2") format("woff2"), url("fonts/ITCFranklinGothicStdDmCp.woff") format("woff"), url("fonts/ITCFranklinGothicStdDmCp.ttf") format("truetype"), url("fonts/ITCFranklinGothicStdDmCp.svg#ITCFranklinGothicStdDmCp") format("svg"); }
@font-face {
  font-family: 'NewCenturySchlbkLTStdRoman';
  src: url("fonts/NewCenturySchlbkLTStdRoman.eot");
  src: url("fonts/NewCenturySchlbkLTStdRoman.eot") format("embedded-opentype"), url("fonts/NewCenturySchlbkLTStdRoman.woff2") format("woff2"), url("fonts/NewCenturySchlbkLTStdRoman.woff") format("woff"), url("fonts/NewCenturySchlbkLTStdRoman.ttf") format("truetype"), url("fonts/NewCenturySchlbkLTStdRoman.svg#NewCenturySchlbkLTStdRoman") format("svg"); }
@font-face {
  font-family: 'NewCenturySchlbkLTStdItalic';
  src: url("fonts/NewCenturySchlbkLTStdItalic.eot");
  src: url("fonts/NewCenturySchlbkLTStdItalic.eot") format("embedded-opentype"), url("fonts/NewCenturySchlbkLTStdItalic.woff2") format("woff2"), url("fonts/NewCenturySchlbkLTStdItalic.woff") format("woff"), url("fonts/NewCenturySchlbkLTStdItalic.ttf") format("truetype"), url("fonts/NewCenturySchlbkLTStdItalic.svg#NewCenturySchlbkLTStdItalic") format("svg"); }
@font-face {
  font-family: 'NewCenturySchlbkLTStdBd';
  src: url("fonts/NewCenturySchlbkLTStdBd.eot");
  src: url("fonts/NewCenturySchlbkLTStdBd.eot") format("embedded-opentype"), url("fonts/NewCenturySchlbkLTStdBd.woff2") format("woff2"), url("fonts/NewCenturySchlbkLTStdBd.woff") format("woff"), url("fonts/NewCenturySchlbkLTStdBd.ttf") format("truetype"), url("fonts/NewCenturySchlbkLTStdBd.svg#NewCenturySchlbkLTStdBd") format("svg"); }
html {
  font-family: "NewCenturySchlbkLTStdRoman", Georgia, serif;
  background: #f3f3f3;
  color: #555759; }

a, a:hover, a:active, a:focus {
  text-decoration: none;
  -webkit-transition: all 230ms ease-in-out;
  -moz-transition: all 230ms ease-in-out;
  -ms-transition: all 230ms ease-in-out;
  -o-transition: all 230ms ease-in-out;
  transition: all 230ms ease-in-out; }

@media all and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto; } }
@media all and (min-width: 1500px) {
  .container {
    max-width: 1400px; } }
.btn {
  padding: 19px 25px 14px 25px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  background: #555759;
  color: white;
  font-family: "ITCFranklinGothicStdDmCp", Arial, sans-serif;
  line-height: 100%;
  font-size: 22px;
  letter-spacing: 1px; }
  .btn:hover {
    background: #3c3e3f;
    padding-left: 28px;
    padding-right: 28px; }

@media all and (min-width: 768px) {
  .btn {
    padding: 15px 35px 10px 35px; }
    .btn:hover {
      background: #3c3e3f;
      padding-left: 40px;
      padding-right: 40px; } }
h1, h2, h3, h4, h5, h6, p, span, a, ul, li {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6 {
  font-family: "NewCenturySchlbkLTStdRoman", Georgia, serif;
  color: #555759;
  letter-spacing: 5px; }

p {
  margin-bottom: 15px;
  line-height: 1.5em; }

h2 {
  font-size: 20px; }

small {
  font-size: 20px; }

i, em  {
  font-family: "NewCenturySchlbkLTStdItalic", Georgia, serif; }

@media all and (min-width: 1200px) {
  h2 {
    font-size: 56px; }

  small {
    font-size: 32px; } }
.box-1 {
  background: url(../images/box-top.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 150px; }
  .box-1 .caption {
    width: 70%;
    padding: 0 0 0 20px;
    text-align: center; }
  .box-1 h1 {
    font-size: 20px;
    line-height: 1.2em;
    margin: 0; }
    .box-1 h1:after {
      content: "";
      height: 1px;
      background: white;
      max-width: 200px;
      width: 45%;
      display: block;
      margin: 10px auto 14px auto; }
  .box-1 p {
    font-family: "NewCenturySchlbkLTStdItalic", Georgia, serif;
    line-height: 1.3em;
    font-size: 13px;
    letter-spacing: 5px; }
  .box-1 h1, .box-1 p {
    color: white; }

@media all and (min-width: 768px) {
  .box-1 {
    padding-top: 250px;
    padding-bottom: 250px; }
    .box-1 h1 {
      font-size: 44px; }
    .box-1 p {
      font-size: 22px; } }
@media all and (min-width: 1200px) {
  .box-1 .caption {
    width: 50%; }
  .box-1 h1 {
    font-size: 52px; }
  .box-1 p {
    font-size: 26px; } }
.box-2 {
  background: white;
  text-align: center;
  padding: 100px 20px; }
  .box-2 h2, .box-2 p {
    color: #555759; }
  .box-2 h2 {
    margin-bottom: 20px; }
  .box-2 p {
    font-size: 16px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto; }
  .box-2 .box-image {
    display: none; }

@media all and (min-width: 500px) {
  .box-2 h2 {
    font-size: 32px; } }
@media all and (min-width: 768px) {
  .box-2 p {
    font-size: 20px; } }
@media all and (min-width: 1200px) {
  .box-2 {
    font-size: 0;
    padding: 136px 0px; }
    .box-2 h2 {
      font-size: 42px;
      margin-bottom: 40px; }
    .box-2 p {
      font-size: 24px;
      max-width: 550px; }
    .box-2 .box-data, .box-2 .box-image {
      display: inline-block;
      vertical-align: middle;
      width: 50%; }
    .box-2 .box-image {
      text-align: right; }
      .box-2 .box-image img {
        height: auto;
        width: 100%; } }
.box-3-video {
  background: white;
  line-height: 0; }
  .box-3-video img {
    width: 100%;
    height: auto; }

@media all and (min-width: 1200px) {
  .box-3-video {
    padding-bottom: 120px; } }
.box-4 {
  padding: 80px 20px;
  text-align: center;
  background: white; }
  .box-4 .caption {
    border-bottom: 1px solid #555759;
    border-top: 1px solid #555759;
    padding: 40px 0px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto; }
    .box-4 .caption small {
      font-family: "NewCenturySchlbkLTStdItalic", Georgia, serif;
      display: block;
      margin: 0 0 20px 0; }
    .box-4 .caption h2 {
      line-height: 1.5em;
      letter-spacing: 3px;
      font-size: 18px; }

#only-desktop {
  display: none; }

@media all and (min-width: 500px) {
  .box-4 .caption h2 {
    font-size: 22px; } }
@media all and (min-width: 992px) {
  .box-4 {
    padding: 150px 0px; }
    .box-4 .caption {
      max-width: 880px; }
      .box-4 .caption small {
        font-size: 24px; }
      .box-4 .caption h2 {
        font-size: 50px; }
      .box-4 .caption br {
        display: none; } }
@media all and (min-width: 1200px) {
  #only-mobile {
    display: none; }

  #only-desktop {
    display: block; } }
.box-5 {
  background: white;
  text-align: center;
  padding: 0 0 80px 0px; }
  .box-5 h2, .box-5 p {
    color: #555759; }
  .box-5 h2 {
    margin-bottom: 20px;
    font-family: "NewCenturySchlbkLTStdBd", Georgia, serif;
    line-height: 1.3em;
    letter-spacing: 2px;
    font-size: 26px; }
    .box-5 h2:after {
      content: "";
      width: 200px;
      height: 1px;
      background: #555759;
      display: block;
      margin: 20px auto 10px auto; }
  .box-5 p {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 330px;
    margin-bottom: 40px;
    font-family: "NewCenturySchlbkLTStdItalic", Georgia, serif; }
  .box-5 .box-data {
    padding-top: 50px; }
  .box-5 .box-image {
    display: none; }

.box-image-mobile img {
  width: 100%;
  height: auto; }

.box-5-images {
  font-size: 0;
  background: white; }
  .box-5-images .box-two-img {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    line-height: 0; }
    .box-5-images .box-two-img img {
      width: 100%;
      height: auto; }

@media all and (min-width: 768px) {
  .box-5 h2 {
    font-size: 32px; }
  .box-5 p {
    font-size: 20px; } }
@media all and (min-width: 1200px) {
  .box-5 {
    font-size: 0;
    padding: 0px 0px 90px 0; }
    .box-5 h2 {
      font-size: 42px;
      margin-bottom: 40px;
      max-width: 250px;
      margin-left: auto;
      margin-right: auto; }
    .box-5 p {
      font-size: 24px;
      max-width: 390px; }
    .box-5 .box-image-mobile {
      display: none; }
    .box-5 .box-data, .box-5 .box-image {
      display: inline-block;
      vertical-align: middle;
      width: 50%;
      padding: 0; }
    .box-5 .box-image {
      text-align: right; }
      .box-5 .box-image img {
        height: auto;
        width: 100%;
        margin: 0; }

  .box-5-images .box-two-img {
    display: inline-block;
    vertical-align: middle;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .box-5-images .box-two-img.first {
      width: 60%;
      padding-right: 5%;
      overflow: hidden;
      height: 450px; }
      .box-5-images .box-two-img.first img {
        position: relative;
        bottom: 430px; }
    .box-5-images .box-two-img.last {
      width: 40%;
      text-align: right;
      padding-left: 5%; }
      .box-5-images .box-two-img.last img {
        margin-top: 90px; } }
@media all and (min-width: 1400px) {
  .box-5-images .box-two-img.first {
    height: 550px; }
    .box-5-images .box-two-img.first img {
      bottom: 440px; } }
.box-6 {
  background: #F3F1F4;
  font-size: 0; }
  .box-6 .col img {
    width: 100%;
    height: auto; }
  .box-6 .col.middle {
    padding: 60px 20px;
    text-align: center; }
  .box-6 h2, .box-6 p {
    color: #555759; }
  .box-6 h2 {
    margin-bottom: 20px;
    font-family: "NewCenturySchlbkLTStdBd", Georgia, serif;
    line-height: 1.3em;
    letter-spacing: 2px;
    font-size: 26px; }
    .box-6 h2:after {
      content: "";
      width: 200px;
      height: 1px;
      background: #555759;
      display: block;
      margin: 20px auto 10px auto; }
  .box-6 p {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 260px;
    margin-bottom: 40px;
    font-family: "NewCenturySchlbkLTStdItalic", Georgia, serif; }

@media all and (min-width: 500px) {
  .box-6 .col {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .box-6 .col.middle {
      width: 70%; }
    .box-6 .col.last {
      display: none; } }
@media all and (min-width: 768px) {
  .box-6 .col {
    width: 30%; }
    .box-6 .col.middle {
      width: 40%; }
      .box-6 .col.middle .btn {
        font-size: 20px; }
    .box-6 .col.last {
      display: inline-block; } }
@media all and (min-width: 992px) {
  .box-6 h2 {
    font-size: 32px; }
  .box-6 p {
    font-size: 20px; } }
@media all and (min-width: 1200px) {
  .box-6 h2 {
    margin-bottom: 40px; }
  .box-6 p {
    max-width: 300px; }
  .box-6 .col.middle .btn {
    font-size: 24px; } }
@media all and (min-width: 1500px) {
  .box-6 h2 {
    font-size: 46px; }
  .box-6 p {
    font-size: 24px;
    max-width: 400px; } }
.box-7 {
  background: white;
  text-align: center;
  padding: 80px 0px; }
  .box-7 h2, .box-7 p {
    color: #555759; }
  .box-7 h2 {
    margin-bottom: 20px;
    font-family: "NewCenturySchlbkLTStdBd", Georgia, serif;
    line-height: 1.3em;
    letter-spacing: 2px;
    font-size: 26px; }
    .box-7 h2:after {
      content: "";
      width: 200px;
      height: 1px;
      background: #555759;
      display: block;
      margin: 20px auto 10px auto; }
  .box-7 p {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 330px;
    margin-bottom: 40px;
    font-family: "NewCenturySchlbkLTStdItalic", Georgia, serif; }
  .box-7 img {
    width: 100%;
    height: auto;
    margin-top: 80px; }
  .box-7 .box-image {
    display: none; }

@media all and (min-width: 768px) {
  .box-7 {
    font-size: 0; }
    .box-7 h2 {
      font-size: 32px; }
    .box-7 p {
      font-size: 20px; }
    .box-7 .box-data, .box-7 .box-image {
      display: inline-block;
      vertical-align: middle;
      vertical-align: top;
      width: 50%;
      padding: 0; }
    .box-7 .box-data {
      padding-top: 40px; }
      .box-7 .box-data img {
        margin-top: 70px; }
    .box-7 .box-image {
      padding-left: 60px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .box-7 .box-image img {
        margin-top: 0; } }
@media all and (min-width: 1200px) {
  .box-7 h2 {
    font-size: 52px;
    margin-bottom: 0px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto; }
    .box-7 h2:after {
      margin: 10px auto 15px auto; }
  .box-7 p {
    font-size: 26px;
    max-width: 400px; } }
.box-8 {
  background: #fbf5f3;
  padding-bottom: 60px;
  padding-top: 60px;
  text-align: center; }
  .box-8 small {
    font-family: "NewCenturySchlbkLTStdItalic", Georgia, serif;
    display: block;
    margin-bottom: 30px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px; }
  .box-8 h2 {
    font-family: "ITCFranklinGothicStdDmCp", Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 45px; }
    .box-8 h2:after {
      display: block;
      content: "";
      height: 1px;
      background: #555759;
      margin-bottom: 30px;
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px; }
  .box-8 .mobile {
    margin-bottom: 30px; }
  .box-8 p {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 18px; }
  .box-8 .btn {
    padding-left: 70px;
    padding-right: 70px; }
    .box-8 .btn:hover {
      padding-left: 85px;
      padding-right: 85px; }

.mobile, .desktop {
  width: 100%;
  height: auto; }

.desktop {
  display: none; }

@media all and (min-width: 992px) {
  .desktop {
    display: block; }

  .mobile {
    display: none; }

  .box-8 {
    padding: 0px;
    background: transparent;
    position: relative; }
    .box-8:before {
      content: "";
      position: absolute;
      width: 50%;
      background: black;
      /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left, transparent, black);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, transparent, black);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, transparent, black);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, transparent, black);
      /* Standard syntax */
      z-index: 99;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: .7; }
    .box-8 .caption {
      position: absolute;
      z-index: 9999;
      right: 0;
      top: 120px;
      right: 40px; }
      .box-8 .caption small, .box-8 .caption h2, .box-8 .caption p {
        color: white; }
      .box-8 .caption .btn {
        background: white;
        color: #555759;
        cursor: pointer;
        padding-left: 40px;
        padding-right: 40px; }
        .box-8 .caption .btn:hover {
          padding-left: 50px;
          padding-right: 50px; }
      .box-8 .caption small {
        margin-bottom: 50px;
        font-size: 26px; }
      .box-8 .caption h2 {
        font-size: 90px; }
        .box-8 .caption h2:after {
          max-width: 300px;
          background: white; } }
@media all and (min-width: 1200px) {
  .box-8 .caption {
    max-width: 520px;
    top: 160px;
    right: 100px; } }
@media all and (min-width: 1400px) {
  .box-8 .caption {
    top: 200px; } }
.box-9 {
  background: white;
  text-align: center;
  padding: 0 0 80px 0px; }
  .box-9 h2, .box-9 p {
    color: #555759; }
  .box-9 h2 {
    margin-bottom: 20px;
    font-family: "NewCenturySchlbkLTStdBd", Georgia, serif;
    line-height: 1.3em;
    letter-spacing: 2px;
    font-size: 26px; }
    .box-9 h2:after {
      content: "";
      width: 200px;
      height: 1px;
      background: #555759;
      display: block;
      margin: 20px auto 10px auto; }
  .box-9 p {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 330px;
    margin-bottom: 40px;
    font-family: "NewCenturySchlbkLTStdItalic", Georgia, serif; }
  .box-9 .box-data {
    padding-top: 50px; }
  .box-9 .box-image {
    display: none; }

.box-image-mobile img {
  width: 100%;
  height: auto; }

.box-9-images {
  font-size: 0;
  background: white; }
  .box-9-images .box-two-img {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    line-height: 0; }
    .box-9-images .box-two-img img {
      width: 100%;
      height: auto; }

@media all and (min-width: 768px) {
  .box-9 h2 {
    font-size: 32px; }
  .box-9 p {
    font-size: 20px; } }
@media all and (min-width: 992px) {
  .box-9 {
    padding-top: 120px; } }
@media all and (min-width: 1200px) {
  .box-9 {
    font-size: 0;
    padding-bottom: 90px; }
    .box-9 h2 {
      font-size: 42px;
      margin-bottom: 40px;
      max-width: 250px;
      margin-left: auto;
      margin-right: auto; }
    .box-9 p {
      font-size: 24px;
      max-width: 390px; }
    .box-9 .box-image-mobile {
      display: none; }
    .box-9 .box-data, .box-9 .box-image {
      display: inline-block;
      vertical-align: middle;
      width: 50%;
      padding: 0; }
    .box-9 .box-image {
      text-align: right; }
      .box-9 .box-image img {
        height: auto;
        width: 100%;
        margin: 0; }

  .box-9-images {
    padding-bottom: 100px; }
    .box-9-images .box-two-img {
      display: inline-block;
      vertical-align: middle;
      vertical-align: top;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .box-9-images .box-two-img.first {
        width: 60%;
        padding-right: 5%;
        overflow: hidden;
        height: 450px; }
        .box-9-images .box-two-img.first img {
          position: relative;
          bottom: 430px; }
      .box-9-images .box-two-img.last {
        width: 40%;
        text-align: right;
        padding-left: 5%; }
        .box-9-images .box-two-img.last img {
          margin-top: 90px; } }
@media all and (min-width: 1400px) {
  .box-9-images .box-two-img.first {
    height: 550px; }
    .box-9-images .box-two-img.first img {
      bottom: 440px; } }
