.box9 {
	background: #e7e4e2;
	.span3{
		text-align: center;
		padding: 4% 7.75%;

		&.top{
			padding-bottom: 4%;
		}

		&.bottom{
			padding-bottom: 5%;
		}

		p{
			margin-bottom: 0;
		}
	}
	.left,
	.middle,
	.right{
		img{
			border-left: 7px solid #E7E4E2;
			border-bottom: 7px solid #E7E4E2;
		}
	}
	.left{
		img{
			border-left: none;
		}
	}
}

@media screen and (max-width: $screen-portrait){
	.box9 {
		.span1.left, .span1.middle {
		    width: 50%;
		    margin-left: 0;
		}
		.span1.middle{
			img{
			    border-left: 7px solid #E7E4E2;
			}
		}
		.span1.right{
			img{
				border-left: none;
			}
		}
	}
}


//fix 
.box9 .span1.left,
.box9 .span1.middle,
.box9 .span1.right{
	height: 155px;
	overflow: hidden;
}

.box9 .span1.right{
	border-top: 7px solid #e7e4e2;
}

@media screen and (min-width: 425px) {
	.box9 .span1.left,
	.box9 .span1.middle{
		height: 208px;
	}
}

@media screen and (min-width: $screen-portrait ) {
	.box9 .span1.left,
	.box9 .span1.middle,
	.box9 .span1.right{
		height: 370px;
	}	
}
@media screen and (min-width: $screen-landscape) {
	.box9 .span1.left,
	.box9 .span1.middle,
	.box9 .span1.right{
		height: 318px;
	}	
	.box9 .span1.right{
		border-top: none;
	}
}
@media screen and (min-width: 1024px) {
	.box9 .span1.left,
	.box9 .span1.middle,
	.box9 .span1.right{
		height: 319px;
	}	
}