.box2 {
	padding: 50px 20px;
	text-align: center;
	h3 {
		font-size: 32px;
	}
	p {
		font-size: 20px;
		line-height: 1.4em;
		margin-bottom: 40px;
	}
	img {
		max-width: 300px;
	}
}

// 768px
@media all and (min-width: $screen-portrait) {
	.box2 {
		padding: 60px 0;
		display: table!important;
		width: 100%;
		p {
			margin-bottom: 0px;
		}
		img {
			max-width: 100%;
			line-height: 0;
		}
		.colb2.left {
			padding: 50px;
		}
		.colb2.left, .colb2.right {
			display: table-cell;
			width: 50%;
			vertical-align: middle;
		}
	}	
}

// 992px
@media all and (min-width: $screen-landscape) {
	.box2 {
		padding: 116px 0;
	}	
}

// 1200px
@media all and (min-width: $screen-desktop) {
	.box2 {
		p {
			max-width: 390px;
			@include center;
		}
	}
}