$screen-portrait      :  768px;
$screen-landscape     :  992px;
$screen-desktop       :  1300px;

$brand-primary        : #fccfbf;

$primary-font         : "NewCenturySchlbkLTStdRoman", Georgia, serif;