/* Columns: 3, Gutter Width: 0, Breakpoints: 768,992,1300 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul, nav li {
  margin: 0; }

nav ul, ul {
  list-style: none; }

.container {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  clear: both; }

.container, section {
  overflow: hidden; }

.span1, .span2, .span3, .span4 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.col {
  margin-left: 0%; }

.col:first-child {
  margin-left: 0; }

.span1 {
  width: 33.33333%; }

.span2 {
  width: 66.66667%; }

.span3 {
  width: 100%;
  margin-left: 0; }

.span4 {
  width: 50%; }

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .span2, .span4 {
    width: 100%; }

  .span1 {
    width: 100%;
    margin-left: 0; }

  .container {
    width: 100%;
    padding: 0; } }
/* Custom Breakpoints */
@media all and (min-width: 768px) {
  .container {
    max-width: 750px; } }
@media all and (min-width: 992px) {
  .container {
    max-width: 970px; } }
@media all and (min-width: 1300px) {
  .container {
    max-width: 1280px; } }
.cf {
  zoom: 1; }
  .cf:before, .cf:after {
    content: "";
    display: table; }
  .cf:after {
    clear: both; }

body {
  background: #fff;
  padding: 0;
  margin: 0; }

a, a:hover, a:active, a:focus {
  text-decoration: none;
  -webkit-transition: all 230ms ease-in-out;
  -moz-transition: all 230ms ease-in-out;
  -ms-transition: all 230ms ease-in-out;
  -o-transition: all 230ms ease-in-out;
  transition: all 230ms ease-in-out; }

hr {
  border: 0;
  height: 1px;
  margin: 0;
  background: #333; }

.oct-2017-landing {
  font-family: "NewCenturySchlbkLTStdRoman", Georgia, serif;
  color: #333; }

.oct-2017-landing .header {
  background: white; }

.oct-2017-landing .box-legend {
  background: #4b3141;
  padding: 20px 10px;
  text-align: center;
  color: white;
  line-height: 1.4em;
  font-family: "NewCenturySchlbkLTStdRoman", Georgia, serif;
  font-size: 15px;
  text-transform: uppercase; }
  .oct-2017-landing .box-legend p {
    margin: 0; }
  .oct-2017-landing .box-legend a {
    text-decoration: underline;
    color: white;
    font-weight: bold;
    font-size: 10px; }

.oct-2017-landing .table-header {
  display: table;
  width: 100%;
  padding: 23px 0 15px 0; }
  .oct-2017-landing .table-header .col {
    display: table-cell;
    vertical-align: top;
    text-align: center; }

.oct-2017-landing .col-menu {
  width: 11%;
  text-align: right !important; }

.oct-2017-landing .col-locate {
  width: 9%;
  text-align: right !important; }

.oct-2017-landing .col-brand {
  width: 60%; }

.oct-2017-landing .col-search {
  width: 9%;
  text-align: left !important; }

.oct-2017-landing .col-bag {
  width: 11%;
  text-align: left !important; }

.oct-2017-landing .col-menu img, .oct-2017-landing .col-locate img, .oct-2017-landing .col-brand img, .oct-2017-landing .col-search img, .oct-2017-landing .col-bag img {
  max-width: 28px;
  height: auto; }
  .oct-2017-landing .col-menu img:hover, .oct-2017-landing .col-locate img:hover, .oct-2017-landing .col-brand img:hover, .oct-2017-landing .col-search img:hover, .oct-2017-landing .col-bag img:hover {
    opacity: 0.8; }

.oct-2017-landing .col-locate img {
  max-width: 16px; }

.oct-2017-landing .col-brand img {
  max-width: 190px; }

.oct-2017-landing .col-search img {
  max-width: 24px; }

.oct-2017-landing .col-bag img {
  max-width: 17px;
  margin-left: 5px; }

@media all and (min-width: 768px) {
  .oct-2017-landing .table-header {
    padding: 45px 0 40px 0; }

  .oct-2017-landing .col-menu img {
    max-width: 36px;
    margin-top: 3px; }

  .oct-2017-landing .col-locate img {
    max-width: 27px; }

  .oct-2017-landing .col-brand img {
    max-width: 370px; }

  .oct-2017-landing .col-search img {
    max-width: 37px; }

  .oct-2017-landing .col-bag img {
    max-width: 26px; }

  .oct-2017-landing .box-legend, .oct-2017-landing .box-legend a {
    font-size: 15px; } }
.image-responsive {
  display: block;
  width: 100%;
  height: auto;
  line-height: 0; }

.oct-2017-landing a.btn {
  background: #2C6F4F;
  color: white;
  display: inline-block;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 17px 50px 11px 50px;
  font-family: "ITCFranklinGothicStdDmCp", Arial, sans-serif; }
  .oct-2017-landing a.btn:hover {
    background: #266045; }

.oct-2017-landing,
.oct-2017-landing h1,
.oct-2017-landing h2,
.oct-2017-landing h3,
.oct-2017-landing h4,
.oct-2017-landing h5,
.oct-2017-landing h6,
.oct-2017-landing p,
.oct-2017-landing span,
.oct-2017-landing a,
.oct-2017-landing ul,
.oct-2017-landing li {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "NewCenturySchlbkLTStdRoman", Georgia, serif;
  font-size: 24px; }

.oct-2017-landing h1,
.oct-2017-landing h2,
.oct-2017-landing h3,
.oct-2017-landing h4,
.oct-2017-landing h5,
.oct-2017-landing h6 {
  margin: 0;
  padding: 0;
  font-weight: normal; }

.oct-2017-landing h2 {
  font-size: 32px;
  font-size: 1.333em;
  line-height: 1.1;
  margin-bottom: 15px; }

.oct-2017-landing em {
  font-family: "NewCenturySchlbkLTStdItalic", Georgia, serif; }

.oct-2017-landing p {
  margin-bottom: 35px;
  font-size: 0.750em;
  line-height: 1.3;
  letter-spacing: 0; }

@media all and (min-width: 768px) {
  .oct-2017-landing h2 {
    font-size: 58px;
    font-size: 2.417em; }

  .oct-2017-landing p {
    font-size: 1.000em;
    line-height: 1.4; } }
.box1 {
  position: relative; }
  .box1 .table {
    display: table;
    width: 100%; }
    .box1 .table .span1,
    .box1 .table .span2 {
      display: table-cell;
      vertical-align: bottom;
      float: none; }
  .box1 h2 {
    font-size: 4.917em; }
  .box1:before {
    content: "";
    position: absolute;
    background: rgba(163, 106, 63, 0.2);
    top: 25px;
    bottom: 25px;
    left: 25px;
    right: 25px;
    border: 4px solid #fff;
    z-index: 99; }
  .box1 .span3 {
    position: absolute;
    z-index: 99;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #fff; }

/* MEDIA QUERIES */
@media screen and (max-width: 1300px) {
  .box1 h2 {
    font-size: 4.000em; } }
@media screen and (max-width: 992px) {
  .box1 h2 {
    font-size: 3.750em; } }
@media screen and (max-width: 768px) {
  .box1 h2 {
    font-size: 2.250em; } }
@media screen and (max-width: 425px) {
  .box1 .span3 {
    top: 33%; }
  .box1 h2 em {
    display: block; } }
@media screen and (max-width: 375px) {
  .box1 h2 {
    font-size: 2.000em; } }
@media screen and (max-width: 320px) {
  .box1 h2 {
    font-size: 1.583em; } }
.box2 {
  text-align: center;
  padding: 11.75%; }
  .box2 p {
    margin-bottom: 0; }

@media screen and (max-width: 1300px) {
  .box2 {
    padding: 11.75% 8%; } }
.box3 .span1 .left,
.box3 .span2 .right {
  display: block;
  position: relative; }
.box3 .span1 .left {
  margin-top: 50%;
  margin-bottom: 50%;
  z-index: 5;
  min-width: 125%; }

@media screen and (max-width: 768px) {
  .box3 .span1 .left,
  .box3 .span2 .right {
    margin: 0;
    padding: 0;
    min-width: 100%; }
  .box3 .span1 .left {
    border-top: 7px solid #fff; }
  .box3 .wrapper {
    display: flex;
    flex-flow: row wrap; }
    .box3 .wrapper .span1 {
      order: 2; }
    .box3 .wrapper .span2 {
      order: 1; } }
.box4 .span3 {
  text-align: center;
  padding: 6% 7.75%; }
.box4 .span3.last {
  padding: 0 0 8%; }
  .box4 .span3.last .hr {
    margin: 0 7.75%;
    background: #333;
    height: 1px; }

@media screen and (max-width: 768px) {
  .box4 .span3 {
    padding: 10% 7.75% 6%; }
  .box4 .span3.last {
    padding: 0 0 4%; }
    .box4 .span3.last .hr {
      display: none; } }
.box6 .span3 {
  text-align: center;
  padding: 6% 7.75%; }
.box6 .span3.last {
  padding: 0 0 8%; }
  .box6 .span3.last .hr {
    margin: 0 7.75%;
    background: #333;
    height: 1px; }

@media screen and (max-width: 768px) {
  .box6 .span3 {
    padding: 10% 7.75% 6%; }
  .box6 .span3.last {
    padding: 0 0 4%; }
    .box6 .span3.last .hr {
      display: none; } }
.box7 .left img,
.box7 .middle img,
.box7 .right img {
  border-left: 7px solid #fff;
  border-bottom: 7px solid #fff; }
.box7 .left img {
  border-left: none; }

@media screen and (max-width: 768px) {
  .box7 .span1.left, .box7 .span1.middle {
    width: 50%;
    margin-left: 0; }
  .box7 .span1.middle img {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    border-right: 7px solid #fff;
    border-left: none; }
  .box7 .span1.right {
    margin-top: 1px; }
    .box7 .span1.right img {
      border-left: none; } }
.box7 .span1 {
  height: 257px;
  overflow: hidden; }

.box7 .span1.right {
  border-top: 7px solid #fff; }

@media screen and (min-width: 425px) {
  .box7 .span1 {
    height: 346px; } }
@media screen and (min-width: 768px) {
  .box7 .span1 {
    height: 620px; } }
@media screen and (min-width: 992px) {
  .box7 .span1 {
    height: 530px; }

  .box7 .span1.right {
    border-top: none; } }
@media screen and (min-width: 1024px) {
  .box7 .span1 {
    height: 710px; } }
.box8 .span3 {
  text-align: center;
  padding: 6% 7.75%; }
.box8 .span3.last {
  padding: 0 0 8%; }
  .box8 .span3.last .hr {
    margin: 0 7.75%;
    background: #333;
    height: 1px; }

@media screen and (max-width: 768px) {
  .box8 .span3 {
    padding: 8% 7.75% 6%; }
  .box8 .span3.last {
    padding: 0 0 4%; }
    .box8 .span3.last .hr {
      display: none; } }
.box9 {
  background: #e7e4e2; }
  .box9 .span3 {
    text-align: center;
    padding: 4% 7.75%; }
    .box9 .span3.top {
      padding-bottom: 4%; }
    .box9 .span3.bottom {
      padding-bottom: 5%; }
    .box9 .span3 p {
      margin-bottom: 0; }
  .box9 .left img,
  .box9 .middle img,
  .box9 .right img {
    border-left: 7px solid #E7E4E2;
    border-bottom: 7px solid #E7E4E2; }
  .box9 .left img {
    border-left: none; }

@media screen and (max-width: 768px) {
  .box9 .span1.left, .box9 .span1.middle {
    width: 50%;
    margin-left: 0; }
  .box9 .span1.middle img {
    border-left: 7px solid #E7E4E2; }
  .box9 .span1.right img {
    border-left: none; } }
.box9 .span1.left,
.box9 .span1.middle {
  height: 155px;
  overflow: hidden; }

.box9 .span1.right {
  border-top: 7px solid #e7e4e2; }

@media screen and (min-width: 425px) {
  .box9 .span1.left,
  .box9 .span1.middle {
    height: 208px; } }
@media screen and (min-width: 768px) {
  .box9 .span1.left,
  .box9 .span1.middle,
  .box9 .span1.right {
    height: 370px; } }
@media screen and (min-width: 992px) {
  .box9 .span1.left,
  .box9 .span1.middle,
  .box9 .span1.right {
    height: 318px; }

  .box9 .span1.right {
    border-top: none; } }
@media screen and (min-width: 1024px) {
  .box9 .span1.left,
  .box9 .span1.middle,
  .box9 .span1.right {
    height: 319px; } }
.box10 {
  background: #f7f5f8 url("images/img-box10.0.jpg") repeat-x 0 0;
  text-align: center;
  margin: 8% 0; }
  .box10 h2 {
    line-height: 0.9; }
  .box10 .table {
    display: table;
    width: 100%; }
    .box10 .table .span1 {
      display: table-cell;
      vertical-align: middle;
      float: none; }
      .box10 .table .span1.alignBottom {
        vertical-align: bottom; }

@media screen and (max-width: 768px) {
  .box10 .table {
    display: block;
    width: 100%; }
    .box10 .table .span1 {
      display: block; }
      .box10 .table .span1.middle {
        padding: 7.5% 0; }
        .box10 .table .span1.middle p {
          margin: 0 25% 35px; } }

/*# sourceMappingURL=style.css.map */
