@font-face {
    font-family: 'akzidenzgroteskregular';
    src: url('fonts/akzidenz-grotesk-roman-webfont.woff2') format('woff2'),
         url('fonts/akzidenz-grotesk-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@charset "UTF-8";
.february-golf-landing abbr,
.february-golf-landing address,
.february-golf-landing article,
.february-golf-landing aside,
.february-golf-landing audio,
.february-golf-landing b,
.february-golf-landing blockquote,
body.february-golf-landing,
.february-golf-landing canvas,
.february-golf-landing caption,
.february-golf-landing cite,
.february-golf-landing code,
.february-golf-landing dd,
.february-golf-landing del,
.february-golf-landing details,
.february-golf-landing dfn,
.february-golf-landing div,
.february-golf-landing dl,
.february-golf-landing dt,
.february-golf-landing em,
.february-golf-landing fieldset,
.february-golf-landing figcaption,
.february-golf-landing figure,
.february-golf-landing form,
.february-golf-landing h1,
.february-golf-landing h2,
.february-golf-landing h3,
.february-golf-landing h4,
.february-golf-landing h5,
.february-golf-landing h6,
.february-golf-landing header,
.february-golf-landing hgroup,
.html-february-golf,
.february-golf-landing i,
.february-golf-landing iframe,
.february-golf-landing img,
.february-golf-landing ins,
.february-golf-landing kbd,
.february-golf-landing label,
.february-golf-landing legend,
.february-golf-landing li,
.february-golf-landing mark,
.february-golf-landing menu,
.february-golf-landing nav,
.february-golf-landing object,
.february-golf-landing ol,
.february-golf-landing p,
.february-golf-landing pre,
.february-golf-landing q,
.february-golf-landing samp,
.february-golf-landing section,
.february-golf-landing small,
.february-golf-landing span,
.february-golf-landing strong,
.february-golf-landing sub,
.february-golf-landing summary,
.february-golf-landing sup,
.february-golf-landing table,
.february-golf-landing tbody,
.february-golf-landing td,
.february-golf-landing tfoot,
.february-golf-landing th,
.february-golf-landing thead,
.february-golf-landing time,
.february-golf-landing tr,
.february-golf-landing ul,
.february-golf-landing var,
.february-golf-landing video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}
.february-golf-landing article,
.february-golf-landing aside,
.february-golf-landing details,
.february-golf-landing figcaption,
.february-golf-landing figure,
.february-golf-landing footer,
.february-golf-landing header,
.february-golf-landing hgroup,
.february-golf-landing menu,
.february-golf-landing nav,
.february-golf-landing section {
    display: block;
}
.february-golf-landing nav li,
.february-golf-landing nav ul {
    margin: 0;
}
.february-golf-landing nav ul,
.february-golf-landing ul {
    list-style: none;
}
.february-golf-landing figure {
    line-height: 0;
}
.html-february-golf {
    font-family: 'akzidenzgroteskregular';
    background: #f4f4f4;
}
.february-golf-landing {
    background: #f4f4f4;
}
.february-golf-landing .container {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.february-golf-landing .hidden,
.february-golf-landing .only-desktop {
    display: none;
}
@media all and (min-width: 768px) {
    .february-golf-landing .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 750px;
    }
    .february-golf-landing .only-mobile {
        display: none;
    }
    .february-golf-landing .only-desktop {
        display: block;
    }
}
@media all and (min-width: 992px) {
    .february-golf-landing .container {
        max-width: 970px;
    }
}
@media all and (min-width: 1300px) {
    .february-golf-landing .container {
        max-width: 1170px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.february-golf,
.february-golf a,
.february-golf h1,
.february-golf h2,
.february-golf h3,
.february-golf h4,
.february-golf h5,
.february-golf h6,
.february-golf li,
.february-golf p,
.february-golf ul {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'akzidenzgroteskregular';
    font-size: 24px;
}
.february-golf h1,
.february-golf h2,
.february-golf h3,
.february-golf h4,
.february-golf h5,
.february-golf h6 {
    margin: 0;
    padding: 0;
    font-family: 'akzidenzgroteskregular';
    letter-spacing: 3px;
    font-weight: lighter;
}
.february-golf h1 {
    font-size: 18px;
    color: #000;
    margin-bottom: 22px;
}
.february-golf p {
    font-size: 20px;
    line-height: 1.3;
    font-family: 'akzidenzgroteskregular';
    color: #000;
}
.february-golf-landing i {
    font-family: 'akzidenzgroteskregular';
}
@media all and (min-width: 768px) {
    .february-golf h1 {
        font-size: 28px;
        letter-spacing: 4px;
        margin-bottom: 40px;
    }
    .february-golf p {
        font-size: 30px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}
.february-golf-landing .box-collection__shoes span {
    font-family: 'akzidenzgroteskregular';
    letter-spacing: 2px;
    font-size: 15px;
    line-height: 1.95em;
    display: block;
    margin-top: 20px;
    color: #000;
}
@media all and (min-width: 992px) {
    .february-golf-landing .february-golf p {
        max-width: 800px;
    }
}
.february-golf-landing .responsive-image {
    width: 100%;
    height: auto;
}


.february-golf-landing .box-collection {
    padding: 50px 0;
    text-align: center;
}
.february-golf-landing .box-collection__shoes {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: wrap;
}

.february-golf-landing .box-columns figure {
    margin-bottom: 10px;
}
.february-golf-landing .copy-content {
    padding: 40px 20px;
    text-align: center;
}
.february-golf-landing .box-two.comfort .top {
    padding-bottom: 3%;
    box-sizing: border-box;
}
.february-golf-landing .box-two.fourimages .top {
    padding-bottom: 3.2%;
    box-sizing: border-box;
}
.february-golf-landing .box-two.fourimages {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
.february-golf-landing .box-two.two-cols {
    padding-top: 1.5%;
}
@media all and (min-width: 768px) {
    .february-golf-landing .section-heigth {
        height: 120px;
        padding: 0 !important;
    }
    .february-golf-landing .box-two {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .february-golf-landing .box-two .left,
    .february-golf-landing .box-two .right {
        width: 50%;
    }
    .february-golf-landing .box-two .left {
        padding-right: 0.75%;
        box-sizing: border-box;
    }
    .february-golf-landing .box-two .right {
        padding-left: 0.75%;
        box-sizing: border-box;
    }
    .february-golf-landing .box-collection {
        padding: 66px 0 38px 0;
    }
    .february-golf-landing .box-collection h3 {
        margin-bottom: 25px;
        font-size: 23px;
        color: #666666;
    }
    .february-golf-landing .box-collection.women-col h3 {
        margin-bottom: 34px;
    }
    .february-golf-landing .box-collection__shoes li {
        width: 20%;
        display: flex;
    
    }
    /* Opacity on images */
    .february-golf-landing .hover {
        background: #212121;
    }
    .february-golf-landing .hover img {
        opacity: 1;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    .february-golf-landing .hover:hover img {
        opacity: .5;
    }
    /* End opacity on images */
}
.february-golf-landing .bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.february-golf-landing .bottom .leftimg, .february-golf-landing .bottom .rightimg{
    width: 50%;
    box-sizing: border-box;
}
.february-golf-landing .bottom .leftimg {
    padding-right: 1.5%;
}
.february-golf-landing .bottom .rightimg{
    padding-left: 1.5%;
}

.february-golf-landing .box-collection__shoes li {
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}
.february-golf-landing .embed-container {
  position: relative;
  padding-bottom: 100% !important;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

.february-golf-landing .embed-container iframe, .february-golf-landing .embed-container object, .february-golf-landing .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}

@media all and (max-width: 767px) {
    .february-golf-landing .box-mobile, .february-golf-landing .box-two.fourimages, .february-golf-landing .box-two.comfort .top, .february-golf-landing .box-two.fourimages .top {
    padding-bottom: 3%;
    padding-top: 3%;
    box-sizing: border-box;
    }
    .february-golf-landing .box-two.fourimages {
        display: table;
    }
    .february-golf-landing .box-two.fourimages .right {
        display: table-header-group;
        padding-bottom: 3%;
    }
    .february-golf-landing .footwear, .february-golf-landing .box-two.two-cols {
        padding-top: 3%;
    }
    .february-golf-landing .box-two.fourimages .left {
        display: table-footer-group;
    }
    .february-golf-landing .women-col-mobile {
        margin-bottom: 50px;
    }
}

main.february-golf {
    max-width: 1600px;
    margin: 0 auto;
}