.header {
	background: white;
}

.box-legend {
	background: $brand-secondary;
	padding: 20px 10px;
	text-align: center;
	color: white;
	line-height: 1.4em;
	font-family: $primary-font;
	font-size: 10px;
	text-transform: uppercase;
	p {
		margin: 0;
	}
	a {
		text-decoration: underline;
		color: white;
		font-weight: bold;
	}
}

.table-header {
	display: table;
	width: 100%;
	padding: 23px 0 15px 0;
	.col {
		display: table-cell;
		vertical-align: top;
		text-align: center;
	}
}

.col-menu {
	width: 11%;
	text-align: right!important;
}
.col-locate {
	width: 9%;
	text-align: right!important;
}
.col-brand {
	width: 60%;
}
.col-search {
	width: 9%;
	text-align: left!important;
}
.col-bag {
	width: 11%;
	text-align: left!important;
}

.col-menu, .col-locate, .col-brand, .col-search, .col-bag {
	img {
		max-width: 28px;
		height: auto;
		&:hover {
			opacity: 0.8;
		}
	}
}
.col-locate {
	img {
		max-width: 16px;
	}
}
.col-brand {
	img {
		max-width: 190px;
	}
}
.col-search {
	img {
		max-width: 24px;
	}
}
.col-bag {
	img {
		max-width: 17px;
		margin-left: 5px;
	}
}
// 768px
@media all and (min-width: $screen-portrait) {
	.table-header {
		padding: 45px 0 40px 0;
	}
	.col-menu {
		img {
			max-width: 36px;
			margin-top: 3px;
		}
	}
	.col-locate {
		img {
			max-width: 27px;
		}
	}
	.col-brand {
		img {
			max-width: 370px;
		}
	}
	.col-search {
		img {
			max-width: 37px;
		}
	}
	.col-bag {
		img {
			max-width: 26px;
		}
	}
}

// 992px
@media all and (min-width: $screen-landscape) {
}

// 1200px
@media all and (min-width: $screen-desktop) {
}