.box9 {
	background: #e7e4e2;
	.span3{
		text-align: center;
		padding: 4% 7.75%;

		&.top{
			padding-bottom: 4%;
		}

		&.bottom{
			padding-bottom: 5%;
		}

		p{
			margin-bottom: 0;
		}
	}

	.left img,
	.middle img,
	.right img {
		-webkit-box-shadow: 0px 0px 0px 7px #E7E4E2;
				box-shadow: 0px 0px 0px 7px #E7E4E2;
	}
}

@media screen and (max-width: $screen-portrait){
	.box9 {
		.span1.left, .span1.middle {
		    width: 50%;
		    margin-left: 0;
		}
	}
}