body {
	background: #f4f2f5;
	padding: 0;
	margin: 0;
}
a, a:hover, a:active, a:focus {
	text-decoration: none;
	-webkit-transition: all 230ms ease-in-out;
	-moz-transition: all 230ms ease-in-out;
	-ms-transition: all 230ms ease-in-out;
	-o-transition: all 230ms ease-in-out;
	transition: all 230ms ease-in-out;
}
.may-2017-landing {
	font-family: $primary-font;
	color: #000;
}
.hidden-mobile {
	display: none;
}
.container {
	background: #fff;
}
// 768px
@media all and (min-width: $screen-portrait) {
	.container { 
		@include center;
		max-width: 750px;
	}
	.hidden-mobile {
		display: block;
	}
	.hidden-desktop {
		display: none;
	}
}

// 992px
@media all and (min-width: $screen-landscape) {
	.container { 
		max-width: 970px;
	}
}

// 1200px
@media all and (min-width: $screen-desktop) {
	.container { 
		max-width: 1280px;
	}
}