@font-face {
    font-family: 'HelveticaNeueLTStdBd';
    src: url('fonts/HelveticaNeueLTStdBd.eot');
    src: url('fonts/HelveticaNeueLTStdBd.eot') format('embedded-opentype'),
         url('fonts/HelveticaNeueLTStdBd.woff2') format('woff2'),
         url('fonts/HelveticaNeueLTStdBd.woff') format('woff'),
         url('fonts/HelveticaNeueLTStdBd.ttf') format('truetype'),
         url('fonts/HelveticaNeueLTStdBd.svg#HelveticaNeueLTStdBd') format('svg');
}

@font-face {
    font-family: 'ITCFranklinGothicStdDmCp';
    src: url('fonts/ITCFranklinGothicStdDmCp.eot');
    src: url('fonts/ITCFranklinGothicStdDmCp.eot') format('embedded-opentype'),
         url('fonts/ITCFranklinGothicStdDmCp.woff2') format('woff2'),
         url('fonts/ITCFranklinGothicStdDmCp.woff') format('woff'),
         url('fonts/ITCFranklinGothicStdDmCp.ttf') format('truetype'),
         url('fonts/ITCFranklinGothicStdDmCp.svg#ITCFranklinGothicStdDmCp') format('svg');
}

@font-face {
    font-family: 'NewCenturySchlbkLTStdRoman';
    src: url('fonts/NewCenturySchlbkLTStdRoman.eot');
    src: url('fonts/NewCenturySchlbkLTStdRoman.eot') format('embedded-opentype'),
         url('fonts/NewCenturySchlbkLTStdRoman.woff2') format('woff2'),
         url('fonts/NewCenturySchlbkLTStdRoman.woff') format('woff'),
         url('fonts/NewCenturySchlbkLTStdRoman.ttf') format('truetype'),
         url('fonts/NewCenturySchlbkLTStdRoman.svg#NewCenturySchlbkLTStdRoman') format('svg');
}

@font-face {
    font-family: 'NewCenturySchlbkLTStdItalic';
    src: url('fonts/NewCenturySchlbkLTStdItalic.eot');
    src: url('fonts/NewCenturySchlbkLTStdItalic.eot') format('embedded-opentype'),
         url('fonts/NewCenturySchlbkLTStdItalic.woff2') format('woff2'),
         url('fonts/NewCenturySchlbkLTStdItalic.woff') format('woff'),
         url('fonts/NewCenturySchlbkLTStdItalic.ttf') format('truetype'),
         url('fonts/NewCenturySchlbkLTStdItalic.svg#NewCenturySchlbkLTStdItalic') format('svg');
}

@font-face {
    font-family: 'NewCenturySchlbkLTStdBd';
    src: url('fonts/NewCenturySchlbkLTStdBd.eot');
    src: url('fonts/NewCenturySchlbkLTStdBd.eot') format('embedded-opentype'),
         url('fonts/NewCenturySchlbkLTStdBd.woff2') format('woff2'),
         url('fonts/NewCenturySchlbkLTStdBd.woff') format('woff'),
         url('fonts/NewCenturySchlbkLTStdBd.ttf') format('truetype'),
         url('fonts/NewCenturySchlbkLTStdBd.svg#NewCenturySchlbkLTStdBd') format('svg');
}