/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html.html-influencer-camille-landing, body.body-influencer-camille-landing, .influencer-camille-landing div, .influencer-camille-landing span, .influencer-camille-landing applet, .influencer-camille-landing object, .influencer-camille-landing iframe, .influencer-camille-landing h1, .influencer-camille-landing h3, .influencer-camille-landing h4, .influencer-camille-landing h5, .influencer-camille-landing h6, .influencer-camille-landing p, .influencer-camille-landing blockquote, .influencer-camille-landing pre, .influencer-camille-landing a, .influencer-camille-landing abbr, .influencer-camille-landing acronym, .influencer-camille-landing address, .influencer-camille-landing big, .influencer-camille-landing cite, .influencer-camille-landing code, .influencer-camille-landing del, .influencer-camille-landing dfn, .influencer-camille-landing em, .influencer-camille-landing img, .influencer-camille-landing ins, .influencer-camille-landing kbd, .influencer-camille-landing q, .influencer-camille-landing s, .influencer-camille-landing samp, .influencer-camille-landing small, .influencer-camille-landing strike, .influencer-camille-landing strong, .influencer-camille-landing sub, .influencer-camille-landing sup, .influencer-camille-landing tt, .influencer-camille-landing var, .influencer-camille-landing b, .influencer-camille-landing u, .influencer-camille-landing i, .influencer-camille-landing center, .influencer-camille-landing dl, .influencer-camille-landing dt, .influencer-camille-landing dd, .influencer-camille-landing ol, .influencer-camille-landing ul, .influencer-camille-landing li, .influencer-camille-landing fieldset, .influencer-camille-landing form, .influencer-camille-landing label, .influencer-camille-landing legend, .influencer-camille-landing table, .influencer-camille-landing caption, .influencer-camille-landing tbody, .influencer-camille-landing tfoot, .influencer-camille-landing thead, .influencer-camille-landing tr, .influencer-camille-landing th, .influencer-camille-landing td, .influencer-camille-landing article, .influencer-camille-landing aside, .influencer-camille-landing canvas, .influencer-camille-landing details, .influencer-camille-landing embed, .influencer-camille-landing figure, .influencer-camille-landing figcaption, .influencer-camille-landing footer, .influencer-camille-landing header, .influencer-camille-landing hgroup, .influencer-camille-landing menu, .influencer-camille-landing nav, .influencer-camille-landing output, .influencer-camille-landing ruby, .influencer-camille-landing section, .influencer-camille-landing summary, .influencer-camille-landing time, .influencer-camille-landing mark, .influencer-camille-landing audio, .influencer-camille-landing video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

.influencer-camille-landing article, .influencer-camille-landing aside, .influencer-camille-landing details, .influencer-camille-landing figcaption, .influencer-camille-landing figure, .influencer-camille-landing footer, .influencer-camille-landing header, .influencer-camille-landing hgroup, .influencer-camille-landing menu, .influencer-camille-landing nav, .influencer-camille-landing section {
  display: block; }

body.influencer-camille-landing {
  line-height: 1; }

.influencer-camille-landing ol, .influencer-camille-landing ul {
  list-style: none; }

.influencer-camille-landing blockquote, .influencer-camille-landing q {
  quotes: none; }

.influencer-camille-landing blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

.influencer-camille-landing q {
  &:before, &:after {
    content: '';
    content: none; } }

.influencer-camille-landing table {
  border-collapse: collapse;
  border-spacing: 0; }